<template>
  <div class="legal">
    <h1 class="page-title page-title--small page-title--centered">
      Datenschutz
    </h1>
    <div class="legal__content">
      <p>
        Beim Zugriff auf unsere Website werden keine persönlichen Daten
        gespeichert. Wir verwenden keine Cookies und es werden keine
        individuellen IP-Adressen gespeichert.
      </p>
      <p>
        Es sind Mediaplayer von Hearthis, Vimeo, Youtube und Soundcloud für die
        Wiedergabe von audiovisuellen Inhalten und für Livestreams in unsere
        Website eingebettet. Deren Verwendung kann den Transfer von Cookies und
        anderen Daten zur Folge haben.
      </p>

      <p>
        Wir verlinken ausserdem neben den oben genannten Seiten auf Mailchimp,
        Facebook, Instagram, Twitter, Spotify und weitere Websites, um GDS.FM zu
        verbreiten. Für diese Seiten gelten jeweils deren Datenschutzregeln.
      </p>
      <p>
        Wir verwenden Payrexx zur Anmeldung von Mitgliedschaften und für
        Spenden, zur Betreibung des Webshops und für Vorverkäufe. Dabei werden
        Kreditkarteninformationen sowie die Daten anderer elektronischer
        Zahlungsmittel abgerufen. Die Abwicklung der Zahlungen erfolgt über
        Payrexx. Wir haben keinen Zugriff auf diese Daten. Für die Abwicklung
        von Anmeldungen, Käufen und Spenden werden Kontaktdaten gespeichert, die
        wir für die Verwendung unserer Dienstleistungen abspeichern. Wir
        versichern Ihnen, dass wir Ihre Daten nicht an Dritte weitergeben.
      </p>
    </div>
  </div>
</template>

<script>
import metaComponentName from '@/mixins/metaComponentName'

export default {
  name: 'Impressum',
  mixins: [metaComponentName]
}
</script>

<style lang="scss" scoped>
.legal {
  &__content {
    @include content-narrow;
  }
}
</style>
