<script>
import formatDate from '@/util/formatDate'
import Show from '@/components/program/Show.vue'

export default {
  name: 'Day',

  components: {
    Show
  },

  props: {
    day: {
      type: Object,
      default: () => {}
    },
    now: {
      type: Date,
      default: new Date()
    }
  },

  computed: {
    nameOfDay() {
      return formatDate(this.day.date, 'weekday')
    },
    formattedDate() {
      return formatDate(this.day.date, 'date')
    },
    isInThePast() {
      const date = this.day.date
      date.setHours(0, 0, 0, 0)
      return this.now > date
    }
  }
}
</script>
<template>
  <div v-if="!isInThePast" class="program-day">
    <div class="program-day__inner">
      <div
        :class="{ 'program-day__day--past': isInThePast }"
        class="program-day__day"
      >
        <h2 class="program-day__title">{{ nameOfDay }} {{ formattedDate }}</h2>
      </div>
      <div class="program-day__shows">
        <show
          v-for="(show, index) in day.shows"
          :key="index"
          :show="show"
          :now="now"
        ></show>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.program-day {
  padding: 0 50px;
  width: 320px;
  flex-shrink: 0;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }

  &__day {
    margin-bottom: $gutter--s;
    border-bottom: $border--default;
    &--past {
      color: #8b5c5c;
    }
    @include to($breakpoint--mobile) {
      font-size: 15px;
    }
  }

  &__title {
    @include font-size(heading-xs);
  }
}
</style>
