<script>
import Show from '@/components/program/Show.vue'

export default {
  components: {
    Show
  },

  data() {
    return {
      now: new Date()
    }
  },

  computed: {
    program() {
      return this.$store.getters['player/program']
    }
  },
  created() {
    this.scheduleUpdateNow()
  },

  mounted() {
    this.$store.dispatch('player/fetchTrackInfo')
  },
  methods: {
    updateNow() {
      this.now = new Date()
      this.scheduleUpdateNow()
    },
    scheduleUpdateNow() {
      setTimeout(this.updateNow, 1000 * 60)
    }
  }
}
</script>
<template>
  <div>
    <show v-for="show in program" :key="show.id" :show="show" :now="now"></show>
  </div>
</template>
