<script>
import Day from '@/components/program/Day.vue'

export default {
  name: 'Program',

  components: {
    Day
  },

  props: {
    dayView: Boolean
  },

  data() {
    const now = new Date()
    now.setHours(0, 0, 0, 0)
    return {
      flkty: null,
      now,
      showPrevButton: false,
      showNextButton: false,
      programHasLoaded: false,
      interval: null
    }
  },

  computed: {
    days() {
      return this.$store.state.program.days
    },
    currentDay() {
      return this.$store.state.program.currentDay
    }
  },
  created() {
    this.scheduleUpdateNow()
  },

  mounted() {
    this.$store.dispatch('program/fetchProgram').then(() => {
      this.programHasLoaded = true
    })
  },

  beforeDestroy() {
    clearInterval(this.interval)
  },

  methods: {
    updateNow() {
      this.now = new Date()
      this.scheduleUpdateNow()
    },
    scheduleUpdateNow() {
      setTimeout(this.updateNow, 1000 * 60)
    }
  }
}
</script>
<template>
  <transition name="fade-program">
    <div :class="{ 'program--today': dayView }" class="program">
      <day
        v-for="(day, index) in days"
        :key="index"
        :day="day"
        :now="now"
      ></day>
    </div>
  </transition>
</template>

<style lang="scss" scoped>
.program {
  display: flex;
}
</style>
