<script>
import parseDate from '@/util/parseDate'
import formatDate from '@/util/formatDate'
export default {
  name: 'Show',

  props: {
    show: {
      type: Object,
      default: () => {}
    },
    now: {
      type: Date,
      default: new Date()
    }
  },

  computed: {
    startTime() {
      return formatDate(this.starts, 'time')
    },

    starts() {
      return parseDate(this.show.starts)
    },

    ends() {
      return parseDate(this.show.ends)
    },

    isInThePast() {
      return this.now > this.ends
    },

    isPlayingNow() {
      return this.now > this.starts && this.now < this.ends
    },

    image() {
      if (this.show.image_path) {
        return this.show.image_path.replace('http://', 'https://')
      } else {
        return false
      }
    },

    isLiveshow() {
      return this.show.name.toLowerCase().indexOf('live:') === 0
    },

    isSetblock() {
      return this.show.name.toLowerCase().indexOf('setblock') > 0
    },

    isWiederholung() {
      return this.show.name.toLowerCase().indexOf('wiederholung') === 0
    },

    link() {
      return this.show.url
        .replace('http://gds.fm/', '/')
        .replace('https://gds.fm/', '/')
    },

    bigDisplay() {
      return (
        this.isLiveshow ||
        this.isWiederholung ||
        this.isSetblock ||
        this.image !== ''
      )
    },

    showName() {
      if (this.isLiveshow) {
        return this.show.name.split(': ')[1]
      } else if (this.isSetblock) {
        return this.show.name.split(' - ')[0]
      } else if (this.isWiederholung) {
        return this.show.name.split(' - ')[1]
      } else {
        return this.show.name
      }
    },

    showType() {
      if (this.show.instance_description) {
        return this.show.instance_description
      } else if (this.show.description) {
        return this.show.description
      } else if (this.isLiveshow) {
        return 'Live'
      } else if (this.isSetblock) {
        return 'Setblock'
      } else if (this.isWiederholung) {
        return 'Wiederholung'
      } else {
        return false
      }
    }
  }
}
</script>
<template>
  <div :class="{ 'program-show--past': isInThePast }" class="program-show">
    <div
      :class="{ 'program-show__time--now': isPlayingNow }"
      class="program-show__time"
    >
      {{ startTime }}
    </div>
    <div
      :class="{
        'program-show__content--big': bigDisplay,
        'program-show__content--now': isPlayingNow,
        'has-link': show.url
      }"
      class="program-show__content"
    >
      <component
        :is="show.url ? 'nuxt-link' : 'div'"
        :to="link"
        class="program-show__link"
      >
        <div v-if="image" class="program-show__image">
          <img
            :data-src="image"
            class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          />
        </div>
        <div class="program-show__text">
          <h3
            :class="{
              'program-show__title--big': bigDisplay
            }"
            class="program-show__title"
            v-html="showName"
          ></h3>
          <div
            v-if="showType"
            class="program-show__type"
            v-html="showType"
          ></div>
        </div>
      </component>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.program-show {
  margin-bottom: $gutter--xs;
  font-size: 14px;
  @include to($breakpoint--mobile) {
    .program & {
      display: flex;
      align-items: center;
    }
  }
  @include from($breakpoint--desktop) {
    margin-bottom: $gutter--s;
  }

  &--past {
    color: #9b9b9b;
  }

  &__time {
    position: relative;

    &--now {
      color: #f4504e;
      font-weight: bold;

      &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;

        animation: blink 2.4s steps(1) 0s infinite;

        background-color: #f4504e;
        border-radius: 100%;
        margin-bottom: 2px;

        @include to($breakpoint--mobile) {
          .program & {
            position: absolute;
            left: -13px;
            top: 5px;
          }
        }
      }
    }
    @include to($breakpoint--mobile) {
      padding-right: 10px;
    }
  }
  &__content {
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: row;

    transition: all 0.2s ease;

    &.has-link:hover {
      opacity: 0.7;
    }

    &--now {
      color: #f4504e;
    }
    @include to($breakpoint--mobile) {
      padding-left: 0;
      margin-top: 5px;
    }
  }
  &__text {
    border-right: 10px solid transparent;
    box-sizing: border-box;
  }
  &__title {
    hyphens: auto;
    margin: -0.15em 0 0;
    line-height: 1;

    @include to($breakpoint--mobile) {
      font-size: 20px;
    }

    @include from($breakpoint--desktop) {
      font-size: 24px;
    }
  }
  &__image {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;

    img {
      width: 55px;
      height: 55px;
    }
  }
  &__link {
    display: flex;
    text-decoration: none;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
</style>
