<template>
  <div :class="'layout-default--' + route" class="layout-default">
    <section-links></section-links>
    <page-header />
    <page-content>
      <nuxt />
    </page-content>
    <page-footer />
    <stream />
  </div>
</template>

<script>
import PageHeader from '@/components/layout/PageHeader'
import PageContent from '@/components/layout/PageContent'
import PageFooter from '@/components/layout/PageFooter'
import Stream from '@/components/player/Stream'
import SectionLinks from '@/components/layout/SectionLinks'
export default {
  components: {
    PageHeader,
    PageContent,
    PageFooter,
    Stream,
    SectionLinks
  },
  watchQuery: true,
  computed: {
    route() {
      return this._routerRoot._route.name
    }
  }
}
</script>

<style lang="scss" scoped>
.layout-default {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  width: 100%;
}
</style>

<style lang="scss">
.layout-default {
  &--events {
    .page-header {
      @include inverted;
    }
    .hero-header {
      @include to($breakpoint--mobile) {
        background-color: $color--black;
      }
    }
    .hero-header__content {
      @include inverted;
    }
    .hero-header__background {
      background-color: $color--black;
    }
  }
}
</style>
