<template>
  <div class="layout-inverted">
    <navigation />
    <page-header />
    <page-content>
      <nuxt />
    </page-content>
    <page-footer />
  </div>
</template>

<script>
import PageHeader from '@/components/layout/PageHeader'
import PageContent from '@/components/layout/PageContent'
import Navigation from '@/components/layout/Navigation'
import PageFooter from '@/components/layout/PageFooter'
export default {
  components: {
    PageHeader,
    PageContent,
    Navigation,
    PageFooter
  }
}
</script>

<style lang="scss" scoped>
.layout-inverted {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
</style>
