<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <link
      rel="preload"
      href="https://use.typekit.net/fne7dvm.css"
      as="style"
      crossorigin
    />
    <link
      rel="preload"
      href="https://gdsfm.airtime.pro/api/live-info-v2"
      as="fetch"
      type="application/json"
      crossorigin
    />
    <link rel="preconnect" href="https://use.typekit.net/" crossorigin />
    <link rel="preconnect" href="https://gdsfm.airtime.pro/" crossorigin />
    <link rel="preconnect" href="https://ws.audioscrobbler.com/" crossorigin />
    <link rel="preconnect" href="https://prism.attribute.ch/" crossorigin />
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
