<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    <script>
      var xmlhttp = new XMLHttpRequest()
      xmlhttp.open(
        'GET',
        'https://gdsfm.airtime.pro/api/live-info-v2?timezone=utc',
        true
      )
      xmlhttp.send()
    </script>
    {{ HEAD }}
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
