<template>
  <section class="logo-list">
    <div class="logo-list__content">
      <logo-preview
        v-for="item in items"
        :key="item.id"
        :item="item"
        class="logo-list__item"
      />
    </div>
  </section>
</template>

<script>
import LogoPreview from '@/components/logo/LogoPreview'

export default {
  components: {
    LogoPreview
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return {}
      }
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.logo-list {
  &__content {
    @include grid;
  }
  &__item {
    @include grid-item(50%);
    @include from(s) {
      @include grid-item(33.33%);
    }
    @include from(m) {
      @include grid-item(25%);
    }
    @include from(l) {
    }
    @include from(xl) {
      @include grid-item(20%);
    }
    @include from(xxl) {
      @include grid-item(16.66%);
    }
  }
}
</style>
