<template>
  <article class="logo-preview">
    <a
      v-if="item.field_link"
      :href="item.field_link.uri"
      class="logo-preview__link"
      target="_blank"
    >
      <responsive-image
        :image="item.field_image.field_media_image"
        :alt-fallback="item.title"
        data-sizes="auto"
        class="logo-preview__image"
      />
      <h3 class="logo-preview__title">{{ item.title }}</h3>
    </a>
    <div v-else class="logo-preview__link">
      <responsive-image
        :image="item.field_image.field_media_image"
        :alt-fallback="item.title"
        data-sizes="auto"
        class="logo-preview__image"
      />
      <h3 class="logo-preview__title">{{ item.title }}</h3>
    </div>
  </article>
</template>

<script>
import ResponsiveImage from '@/components/global/ResponsiveImage'
export default {
  components: {
    ResponsiveImage
  },
  props: {
    item: {
      type: Object,
      default: () => {
        return {}
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.logo-preview {
  margin-bottom: $gutter--xl;
  &__link {
    @include underline-remove;
    display: block;
  }
  &__image {
    margin-bottom: $gutter--s;
  }
  &__title {
    @include font-styles(heading-xxxxs, heading-xxxs);
    text-align: center;
    text-transform: uppercase;
  }
}
</style>
