/* Colors */

$color--white: #fff;
$color--black: #000;
$color--grey: red;
$color--grey--light: #ccc;

$color--status--light: #f3faef;
$color--status--medium: #77b259;
$color--status--dark: #204012;

$color--warning--light: #fdf8ed;
$color--warning--medium: #e09600;
$color--warning--dark: #734c00;

$color--error--light: #fcf4f2;
$color--error--medium: #e62600;
$color--error--dark: #a51b00;

$color--highlight: rgb(0, 123, 255);

$color--highlight: $color--highlight;

$color--element-highlight: $color--highlight;

$color--font--default: $color--black;
$color--font--light: $color--grey;
$color--font--highlight: $color--highlight;
$color--font--highlight--active: $color--highlight;

$color--text--underline: currentColor;
$color--text--underline--background: #fff;
