//$font-directory: "../../fonts/" !default;
//
//@font-face{
//  font-family: "ensoie";
//  src: url("#{$font-directory}ensoieeot?#iefix");
//  src: url("#{$font-directory}ensoie.eot?#iefix") format("eot"),
//  url("#{$font-directory}ensoie.woff") format("woff"),
//  url("#{$font-directory}ensoie.ttf") format("truetype");
//  font-weight: normal;
//}

/* Fonts */
$font--helvetica: Helvetica Neue, Helvetica, Arial, sans-serif;
$font--neuzeit-grotesk: neuzeit-grotesk, Helvetica Neue, Helvetica, Arial,
  sans-serif;
$font--base: $font--neuzeit-grotesk;

$font--size--base: 16px;
$font--line-height--base: 20px;
$font--rhythm-unit: 'rem';
$font--cap-height: 0.705;
$font--cap-offset: -0.2;

$font--line-height--copy: 1.25;

$font--line-height--headings: 1;

/* Font sizes*/

$font--sizes: (
  xs: (
    font-size: 14px,
    line-height: $font--line-height--copy
  ),
  s: (
    font-size: 18px,
    line-height: $font--line-height--copy
  ),
  m: (
    font-size: 21px,
    line-height: $font--line-height--copy
  ),
  l: (
    font-size: 24px,
    line-height: $font--line-height--copy
  ),
  heading-xxxxs: (
    font-size: 18px,
    line-height: $font--line-height--headings
  ),
  heading-xxxs: (
    font-size: 21px,
    line-height: $font--line-height--headings
  ),
  heading-xxs: (
    font-size: 24px,
    line-height: $font--line-height--headings
  ),
  heading-xs: (
    font-size: 32px,
    line-height: $font--line-height--headings
  ),
  heading-s: (
    font-size: 48px,
    line-height: $font--line-height--headings
  ),
  heading-m: (
    font-size: 64px,
    line-height: $font--line-height--headings
  ),
  heading-l: (
    font-size: 72px,
    line-height: $font--line-height--headings
  ),
  heading-xl: (
    font-size: 96px,
    line-height: $font--line-height--headings
  ),
  heading-xxl: (
    font-size: 144px,
    line-height: $font--line-height--headings
  ),
  heading-xxxl: (
    font-size: 192px,
    line-height: $font--line-height--headings
  )
);

$font--styles: ();
