@import 'colors';
@import 'breakpoints';
@import 'typography';

/* Spacing */

$gutter--xxs: 5px;
$gutter--xs: 10px;
$gutter--s: 15px;
$gutter--m: 20px;
$gutter--l: 30px;
$gutter--xl: 45px;
$gutter--xxl: 60px;
$gutter--xxxl: 90px;
$gutter--xxxxl: 150px;
$gutter--xxxxxl: 200px;

$grid--gutter--default: $gutter--m;

/* Page */

$page--margin--s: $gutter--s;
$page--margin--m: 8%;

/* Animations */

$animation--duration--xs: 0.1s;
$animation--duration--s: 0.2s;
$animation--duration--m: 0.4s;
$animation--duration--l: 0.6s;

$animation--timing--default: ease;

$opactiy-l: 0.25;
$opactiy-m: 0.5;
$opactiy-s: 0.7;

/* Sizes */

$border-width: 1px;
$border-width--l: 3px;
$border-radius: 0;

$border-color--default: currentColor;
$border-color--light: $color--grey--light;
$border-color--highlight: $color--element-highlight;

$border--default: $border-width--l solid $border-color--default;
$border--default-s: $border-width solid $border-color--default;
$border--light: $border-width--l solid $border-color--light;
$border--light-s: $border-width solid $border-color--light;
$border--highlight: $border-width solid $color--element-highlight;

/* Outlines */
$outline-width: 3px;
$outline-color: rgba($color--highlight, 0.25);
$outline--default: 0 0 0 $outline-width $border-color--default;

$header-height-s: 48px;
$header-height-m: 72px;

$header-padding-s: $gutter--xs;
$header-padding-m: 40px;

$header--total-height-s: $header-height-s + $header-padding-s * 2;
$header--total-height-m: $header-height-m + $header-padding-m * 2;

$breadcrumb--height-s: 30px;

$main-vertical-margin-s: 0;
$main-vertical-margin-m: 0;

$main-margin-top-s: $main-vertical-margin-s + $header--total-height-s;
$main-margin-top-m: $main-vertical-margin-m + $header--total-height-m;

$main-margin-bottom-s: 150px;
$main-margin-bottom-m: 200px;

$footer-height-s: 80px;
$footer-height-m: 50px;
$footer-padding-s: $gutter--s;
$footer-padding-m: $gutter--xl;

$menu-padding--s: $page--margin--s;
$menu-padding--m: $page--margin--m;
$menu-item-padding: 8px;
$menu-item--padding-top--mobile-s: $gutter--xxs;
$menu-item--padding-top--mobile-m: $gutter--m;
$menu-item--padding-bottom--mobile: 5px;

/* Selectors */

/* Icons */

$icon-size--s: 24px;
$icon-size--m: 30px;

$icon-container-size-s: 34px;
$icon-container-size-m: 46px;

/* Logo */
$logo--padding: 0.5em 1em;

/* Button */

$button--horizontal-padding-m: 7px;
$button--padding-m: 5px $button--horizontal-padding-m 2px;

/* Inputs */
$input--padding-m: 5px $button--horizontal-padding-m 2px;
$input--margin-m: 15px;

/* Navigation */
$navigation-indent--m: 32px;
$navigation-indent--mobile: $page--margin--m;

$navigation-toggle-size-s: 32px;
$navigation-toggle-size-m: 48px;

/* Tabs */
$tabs--height--s: 24px;
$tabs--height--m: 40px;
$tabs--line--width: 1px;

/* Form */
$form-item--height--s: 48px;
$form-item--height--m: 60px;

$form-item--padding--s: 0.5em;
$form-item--padding--m: 0.5em;

$form-item--custom-element-size--s: 1em;
$form-item--custom-element-offset--s: $form-item--custom-element-size--s +
  $form-item--padding--s;

/* z-index */
$z-index: (
  header: 100,
  main: 50,
  navigation-content--mobile: -1,
  navigation-content--desktop: 1,
  navigation-toggle: 200,
  tabs: 0
);
