<template>
  <div>
    <hero-header>
      <template v-slot:background>
        <player />
      </template>
      <template v-slot:content>
        <h1 class="page-title">GDS.FM</h1>
        <h2 class="page-subtitle">
          Zürichs Radio<br />
          gegen den Strom.
        </h2>
        <now />
        <button
          type="button"
          class="link-button button--icon"
          @click="showProgram"
        >
          <svg-icon name="program" title="Programm" />
          Radioprogramm
        </button>

        <modal v-if="isProgramVisible" @close="closeProgram">
          <template #header>
            Radioprogramm
          </template>
          <template #body>
            <program />
          </template>
        </modal>
      </template>
    </hero-header>
    <section class="page-section">
      <teasers
        :items="news"
        subtitle-field="formattedDate"
        link="/news"
        title="News"
        link-title="Mehr News"
        class="news-list__item"
      />
    </section>
    <section class="page-section">
      <h2 class="section-title">Events</h2>
      <event-list-related :items="events" />
      <nuxt-link to="/events#main-content" class="button"
        >Alle Events</nuxt-link
      >
    </section>

    <section class="page-section">
      <teasers
        :items="artists"
        subtitle-field="formattedDate"
        link="/artists"
        title="Replay"
        link-title="Mehr Artists"
        class="artist-list__item"
      />
    </section>
    <member-teaser />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import metaComponentName from '@/mixins/metaComponentName'
import HeroHeader from '@/components/global/HeroHeader'
import Modal from '@/components/global/Modal'
import Player from '@/components/player/Player'
import Now from '@/components/program/Now'
import Program from '@/components/program/Program'
import Teasers from '@/components/global/Teasers.vue'
import EventListRelated from '@/components/event/EventListRelated.vue'
import MemberTeaser from '@/components/global/MemberTeaser'

export default {
  name: 'Radio',
  components: {
    HeroHeader,
    Modal,
    Player,
    Now,
    Program,
    Teasers,
    EventListRelated,
    MemberTeaser
  },
  mixins: [metaComponentName],
  data() {
    return {
      isProgramVisible: false
    }
  },
  computed: {
    ...mapGetters('events', {
      eventItems: 'items'
    }),
    ...mapGetters('news', {
      newsItems: 'items'
    }),
    ...mapGetters('artists', {
      artistItems: 'items'
    }),
    events() {
      return this.eventItems.slice(0, 4)
    },
    news() {
      return this.newsItems.slice(0, 3)
    },
    artists() {
      return this.artistItems.slice(0, 3)
    }
  },
  async fetch(context) {
    await Promise.all([
      storeUtil.fetch(context.store, 'events'),
      storeUtil.fetch(context.store, 'news'),
      storeUtil.fetch(context.store, 'artists')
    ])
  },
  mounted() {
    this.$store.dispatch(`player/setPlaying`, true)
  },
  methods: {
    showProgram() {
      this.isProgramVisible = true
    },
    closeProgram() {
      this.isProgramVisible = false
    }
  }
}
</script>
