<template>
  <article class="news-detail">
    <h1 class="news-detail__title">{{ title }}</h1>
    <aside class="news-detail__wrapper">
      <responsive-image
        :image="image"
        :alt-fallback="title"
        sizes="(min-width: 900px) 50vw, 100vw"
        class="news-detail__image"
      />
      <div class="news-detail__date">{{ formattedDate }}</div>
      <div v-html="text" />
      <paragraphs-content :items="content" class="news-detail__content" />
    </aside>
    <div class="news-detail__related_news">
      <related-news :items="relatedItems" />
    </div>
  </article>
</template>

<script>
import metaTitleProp from '@/mixins/metaTitleProp'
import formattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'
import ParagraphsContent from '@/components/global/ParagraphsContent'
import RelatedNews from '@/components/news/RelatedNews'

export default {
  components: {
    ResponsiveImage,
    ParagraphsContent,
    RelatedNews
  },
  mixins: [formattedDate, metaTitleProp],
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    text: {
      type: String,
      default: ''
    },
    date: {
      type: Date,
      default: () => {
        return new Date()
      }
    },
    content: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {
    relatedItems() {
      const items = this.$store.getters['news/itemsExcludingIds']([this.id])
      return items.slice(0, 3)
    }
  }
}
</script>

<style lang="scss" scoped>
.news-detail {
  &__wrapper {
    @include content-narrow;
  }

  &__image {
    margin-bottom: $gutter--s;
    @include from($breakpoint--desktop) {
      margin-left: -100px;
      margin-right: -100px;
    }
  }

  &__date {
    margin-bottom: $gutter--xs;
  }
  &__title {
    @include from($breakpoint--desktop) {
      text-align: center;
    }
  }

  &__content {
    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--xxl;
    }
    @include from($breakpoint--desktop) {
      margin-bottom: $gutter--xxxxxl;
    }
  }
}
</style>

<style lang="scss">
// @Todo: remove once paragaphs are working.
.news-detail {
  iframe {
    &[src^="https://hearthis.at/"] {
      height: 300px;
    }
  }
}
</style>
