<template>
  <nuxt-link :to="link" class="news-preview__link">
    <article class="news-preview">
      <responsive-image
        :image="image"
        :alt-fallback="title"
        sizes="(min-width: 900px) 25vw, 50vw"
        class="news-preview__image"
      />
      <aside class="news-preview__content">
        <span class="news-preview__date">{{ formattedDate }}</span>
        <h2 class="news-preview__title">{{ title }}</h2>
      </aside>
    </article>
  </nuxt-link>
</template>

<script>
import formattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'

export default {
  components: {
    ResponsiveImage
  },
  mixins: [formattedDate],
  props: {
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    date: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.news-preview {
  @include list-item;
  align-items: center;
  overflow: hidden;

  &__date {
    @include font-styles(m, l);
  }

  &__link {
    display: block;
  }
}
</style>
