<template>
  <section :style="monthBackgroundColor(monthNumber())" class="related-news">
    <div class="related-news__wrapper">
      <h2 class="related-news__title section-title">Mehr news</h2>
      <div class="related-news__items">
        <div v-for="item in items" :key="item.id" class="related-news__item">
          <teaser
            :title="item.title"
            :link="item.path.alias"
            :date="item.field_date"
            :image="item.field_image.field_media_image"
            class="event-list__item"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Teaser from '@/components/global/Teaser'
import monthColors from '@/mixins/monthColors'

export default {
  components: {
    Teaser
  },
  mixins: [monthColors],
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.related-news {
  width: 100vw;
  @include full-width-inverted-section;
  margin-bottom: -$main-margin-bottom-s;
  @include from($breakpoint--desktop) {
    margin-bottom: -$main-margin-bottom-m;
  }

  &__title {
    text-align: center;
  }
}
</style>
