<template>
  <div>
    <admin-tabs :alias="news.alias"></admin-tabs>
    <back-button to="/news" title="Zu allen News" />
    <news-detail
      :id="news.id"
      :title="news.title"
      :image="news.image"
      :text="news.text"
      :date="news.date"
      :content="news.content"
    >
    </news-detail>
  </div>
</template>

<script>
import entityByRoute from '@/util/entityByRoute'
import storeUtil from '@/util/storeUtil'
import stripHTML from '@/util/stripHTML'
import imageUrl from '@/util/imageUrl'
import NewsDetail from '@/components/news/NewsDetail'
import BackButton from '@/components/global/BackButton'
import AdminTabs from '@/components/global/AdminTabs'

export default {
  components: {
    NewsDetail,
    BackButton,
    AdminTabs
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, 'news')
  },
  async asyncData(context) {
    const include = [
      'field_image',
      'field_image.field_media_image',
      'field_content',
      'field_content.field_images',
      'field_content.field_images.field_media_image'
    ]
    const options = {
      include: include.join(),
      fields: {
        'node--news_post': [
          'title,path,field_image,field_text,field_date,field_content'
        ],
        'media--image': ['created,field_media_image'],
        'file--file': ['uri,meta'],
        'paragraph--text': ['field_text'],
        'paragraph--embed_code': ['field_embed_code'],
        'paragraph--slideshow': ['field_image']
      }
    }

    const responses = await entityByRoute(
      context.route.path,
      options,
      context.app.$axios
    )

    const data = responses['entity#uri{0}'].data

    const date = new Date(data.field_date)

    const news = {
      id: data.id,
      title: data.title,
      image: data.field_image.field_media_image,
      text: data.field_text !== null ? data.field_text.processed : null,
      date,
      content: data.field_content,
      alias: data.path.alias
    }

    return {
      news
    }
  },
  mounted() {
    this.$scrollTo('#__nuxt', 0, { force: true })
  },
  head() {
    const meta = []
    if (this.news.text) {
      const description = stripHTML(this.news.text)
      meta.push({
        hid: 'description',
        name: 'description',
        content: description
      })
      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: description
      })
    }
    if (this.news.image.uri.value) {
      console.log(this.$config)
      const image = imageUrl(
        this.news.image.uri.value,
        'default_xxl',
        this.$config.apiUrl
      )
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: image
      })
    }
    return { meta }
  }
}
</script>
