<template>
  <div class="kontakt">
    <h1 class="page-title page-title--centered">Kontakt</h1>
    <p class="text--l">
      Verein GDS.FM<br />
      Rebhügelstrasse 14<br />
      8045 Zürich<br />
      <a href="mailto:studio@gds.fm">studio@gds.fm</a>
    </p>
    <div class="kontakt__content">
      <p>
        Du willst uns Feedback zum Programm oder zur Homepage geben oder aktiv
        beim Radiobetrieb mithelfen? Alles was wir dazu benötigen ist dein Name
        und deine Emailadresse. Wir werden uns so schnell wie möglich bei dir
        melden. Vielen Dank!
      </p>
      <h2>Promos</h2>
      <h3>Deutsch</h3>
      <p>
        Promos gerne nur an <a href="mailto:promo@gds.fm">diese Adresse</a>.
        Bitte schickt Promos immer mit Prelistening- UND als Downloadlink. Wir
        benötigen AIFF oder FLAC mit 44100Hz Dateien mit korrekten Metadaten
        direkt im File hinterlegt. Bitte fügt die Metadaten wie Künstler, Titel,
        ISRC, Label, Komponist etc. mit einem Metadateneditor manuell hinzu.
        Andere Fileformate sowie Tracks ohne korrekt hinterlegte Metadaten
        können wir nicht verwenden.
      </p>
      <p>
        Feedback/Rotationentscheid können wir (da weniger als eine 100%-Stelle
        in der Redaktion) nicht bei allen Promoeingaben machen. Danke fürs
        Verständnis!
      </p>
      <h3>English</h3>
      <p>
        Promos only to <a href="mailto:promo@gds.fm">this address</a> please.
        Please do always send them with a prelistening- AND a download link. We
        need AIFF or FLAC files with correct meta data included in the file
        itself. Please add the meta data such as Artist, Title, ISRC, Composer,
        Label etc. manually with a meta data editor. Other file formats or
        tracks with missing meta data can not be processed.
      </p>
      <p>
        We try to listen to all the promos but can not give any feedback /
        rotation decision due to the load of daily incoming promos. Thank you
        for understanding.
      </p>
    </div>
  </div>
</template>

<script>
import metaComponentName from '@/mixins/metaComponentName'

export default {
  name: 'Kontakt',
  mixins: [metaComponentName]
}
</script>

<style lang="scss" scoped>
.kontakt {
  &__content {
    margin: $gutter--xl auto 0;
    max-width: 600px;
  }
}
</style>
