<template>
  <article class="awards-detail">
    <paragraphs-content :items="header" class="awards-detail__header" />
    <paragraphs-content
      id="main-content"
      :items="content"
      class="awards-detail__content"
    />
  </article>
</template>

<script>
import metaTitleProp from '@/mixins/metaTitleProp'
import ParagraphsContent from '@/components/global/ParagraphsContent'

export default {
  components: {
    ParagraphsContent
  },
  mixins: [metaTitleProp],
  props: {
    id: {
      type: String,
      default: ''
    },
    header: {
      type: Array,
      default: () => {
        return []
      }
    },
    content: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.awards-detail {
  &__header {
    margin-bottom: $gutter--xxxl;
  }
}
</style>
