.default-enter-active,
.default-leave-active {
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.default-leave-active {
  transition-duration: 300ms;
}
.default-enter,
.default-leave-to {
  opacity: 0;
}
.default-enter {
  //transform: translate3d(0, 50px, 0);
}
