.scale-enter-active,
.scale-leave-active {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-duration: 600ms;
}

.scale-leave-active {
  transition-duration: 300ms;
}
.scale-enter,
.scale-leave-to {
  transform: scale(0);
}
