
.vinyl-enter-active {
    display: inline-block;
    animation-fill-mode: forwards;
    animation: put-on-record 2.8s;
    animation-delay: .2s;
    opacity: 0;
}

.vinyl-leave-active {
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    animation: fade-out-vinyl 2s;
}

.vinyl-appear-active {
    animation-fill-mode: forwards;
    animation-delay: .4s;
    opacity: 0;
    animation: fade-in-vinyl .6s cubic-bezier(.47,.51,.27,.93);
}

.vinyl-throw-in-active {
    animation: throw-in-vinyl .7s cubic-bezier(.35,.57,.43,.97);
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.vinyl-wrap .vinyl-disc-wrap.vinyl-enter .vinyl-disc.is-rotating {
    animation-play-state: paused;
}

@keyframes put-on-record {
    0% {
        opacity: 1;
        transform: translateY(-110%) scale(1.1);
    }
    33% {
        transform: translateY(0) scale(1.1);
    }
    40% {
        transform: translateY(0) scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in-vinyl {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-out-vinyl {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.8);
    }
}

@keyframes  throw-out-vinyl {
    0% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(0, 100%);
        opacity: 0;
    }
}

@keyframes  throw-in-vinyl {
    0% {
        transform: translate(0, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

