<template>
  <section class="location-list">
    <logo-list :items="items" />
  </section>
</template>

<script>
import LogoList from '@/components/logo/LogoList'

export default {
  components: {
    LogoList
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return {}
      }
    }
  },
  methods: {}
}
</script>
