<template>
  <div>
    <h1>Page not found</h1>
  </div>
</template>

<script>
import entityByRoute from '@/util/entityByRoute'

export default {
  name: 'PageNotFound',
  components: {},
  async asyncData(context) {
    const responses = await entityByRoute(
      context.route.path,
      {},
      context.app.$axios
    )
    // console.log(responses)
    if (responses.router.jsonapi) {
      const data = responses['entity#uri{0}'].data
      context.redirect(data.path.alias)
    } else {
      context.error({ statusCode: 404, message: 'Page not found' })
    }
  }
}
</script>
