<template>
  <div>
    <h1>Admin</h1>
  </div>
</template>

<script>
export default {
  name: 'Admin',
  components: {},
  mounted() {
    this.$cookies.set('admin', '1', {
      path: '/',
      maxAge: 60 * 60 * 24 * 365
    })
    this.$router.push('/')
  }
}
</script>
