<template>
  <div>
    <admin-tabs :alias="artist.alias"></admin-tabs>
    <back-button to="/artists" title="Zu allen Artists" />
    <artist-detail
      :id="artist.id"
      :title="artist.title"
      :image="artist.image"
      :text="artist.text"
      :embed-codes="artist.embedCodes"
      :links="artist.links"
    >
    </artist-detail>
  </div>
</template>

<script>
import entityByRoute from '@/util/entityByRoute'
import storeUtil from '@/util/storeUtil'
import stripHTML from '@/util/stripHTML'
import imageUrl from '@/util/imageUrl'
import ArtistDetail from '@/components/artist/ArtistDetail'
import BackButton from '@/components/global/BackButton'
import AdminTabs from '@/components/global/AdminTabs'

export default {
  components: {
    ArtistDetail,
    BackButton,
    AdminTabs
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, 'artists')
  },
  async asyncData(context) {
    const options = {
      include: ['field_image', 'field_image.field_media_image'],
      fields: {
        'node--artist': [
          'title,path,field_image,field_text,field_embed_code,field_links'
        ],
        'media--image': ['created,field_media_image'],
        'file--file': ['uri,meta']
      }
    }

    const responses = await entityByRoute(
      context.route.path,
      options,
      context.app.$axios
    )

    const data = responses['entity#uri{0}'].data

    const artist = {
      id: data.id,
      title: data.title,
      image: data.field_image.field_media_image,
      text: data.field_text !== null ? data.field_text.processed : null,
      embedCodes:
        data.field_embed_code.length > 0
          ? data.field_embed_code.map((embedCode) => embedCode.processed)
          : null,
      links: data.field_links,
      alias: data.path.alias
    }

    return {
      artist
    }
  },
  mounted() {
    this.$scrollTo('#__nuxt', 0, { force: true })
  },
  head() {
    const meta = []
    if (this.artist.text) {
      const description = stripHTML(this.artist.text)
      meta.push({
        hid: 'description',
        name: 'description',
        content: description
      })
      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: description
      })
    }
    if (this.artist.image.uri.value) {
      const image = imageUrl(
        this.artist.image.uri.value,
        'default_xxl',
        this.$config.apiUrl
      )
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: image
      })
    }

    return { meta }
  }
}
</script>
