<template>
  <div>
    <hero-header>
      <template v-slot:background>
        <loophole-video>
          <video
            autoplay
            loop
            muted
            playsinline
            poster="https://content.jwplatform.com/thumbs/2kZIK7Ya-1280.jpg"
          >
            <source
              src="https://player.vimeo.com/external/397012959.hd.mp4?s=10d8aec0d3b5722e3f4d30aaa3489ee32880db03&profile_id=175"
              media="screen and (min-width:1920px)"
            />
            <source
              src="https://player.vimeo.com/external/397012959.hd.mp4?s=10d8aec0d3b5722e3f4d30aaa3489ee32880db03&profile_id=174"
              media="screen and (min-width:960px)"
            />
            <source
              src="https://player.vimeo.com/external/397012959.sd.mp4?s=6dd42b8ff917c5a7c5e0882b35b73ab593bc6517&profile_id=165"
              media="screen and (min-width:540px)"
            />
            <source
              src="https://player.vimeo.com/external/397012959.sd.mp4?s=6dd42b8ff917c5a7c5e0882b35b73ab593bc6517&profile_id=164"
            />
          </video>
        </loophole-video>
      </template>
      <template v-slot:content>
        <h1 class="page-title">Events</h1>
        <h2 class="page-subtitle">GDS.FM unterwegs</h2>
        <p>
          <nuxt-link to="/news/ender"
            >Unser Lokal, den «Sender» mussten wir am 13.4. leider
            schliessen.</nuxt-link
          >
        </p>
        <p>
          Eigene Events veranstalten werden wir aber weiterhin.
          <nuxt-link to="/member">Vereinsmitglied</nuxt-link>
          zu werden, macht also weiterhin sehr viel Sinn. Nicht nur, weil du uns
          damit hilfst, unser werbefreies Radio und somit auch die Plattform für
          lokale Musikschaffende weiterzubetreiben, sondern auch, weil du mit
          der Memberkarte weiterhin vergünstigt an alle unsere Events kannst.
        </p>
        <p>
          In der Liste findest du kommende Veranstaltungen, an denen wir mit
          unserem mobilen Studio anzutreffen sind.
        </p>
        <p class="inline-icon-container">
          <nuxt-link to="/news/safer-sender">Unser Awareness-Konzept</nuxt-link>
        </p>
      </template>
    </hero-header>
    <div id="main-content" class="event-list">
      <event-list :items="itemsByDate"></event-list>
      <client-only>
        <infinite-loading @infinite="infiniteHandler">
          <div slot="no-more"></div>
          <div slot="no-results"></div>
        </infinite-loading>
      </client-only>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import metaComponentName from '@/mixins/metaComponentName'
import HeroHeader from '@/components/global/HeroHeader'
import EventList from '@/components/event/EventList.vue'
import LoopholeVideo from '@/components/global/LoopholeVideo'

const storeNamespace = 'events'

export default {
  name: 'Club',
  components: {
    HeroHeader,
    EventList,
    LoopholeVideo
  },
  mixins: [metaComponentName],
  computed: {
    ...mapGetters(storeNamespace, ['itemsByDate'])
  },
  async fetch(context) {
    // await context.store.dispatch(storeNamespace + '/resetFilters')
    await storeUtil.fetch(context.store, storeNamespace)
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    }
  }
}
</script>

<style lang="scss" scoped></style>
