<template>
  <nav class="desktop-navigation">
    <navigation-links :items="navigation.items.primary" />
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'
import NavigationLinks from '@/components/layout/NavigationLinks'

export default {
  components: {
    NavigationLinks
  },
  computed: {
    ...mapGetters('global', ['navigation'])
  }
}
</script>

<style lang="scss" scoped>
.desktop-navigation {
  display: flex;
  margin-right: $gutter--s;
  @include to($breakpoint--mobile) {
    display: none;
  }
}
</style>

<style lang="scss">
.desktop-navigation {
  @include inline-navigation;
}
</style>
