<template>
  <div class="logo">
    <nuxt-link to="/" class="logo__link" aria-label="Home">
      <svg-icon :name="logo" class="logo__image" title="GDS.FM Logo" />
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: {
    adaptive: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    route() {
      return this._routerRoot._route.name
    },
    logo() {
      return this.route === 'club' && this.adaptive ? 'logo--sender' : 'logo'
    }
  }
}
</script>
<style lang="scss" scoped>
.logo {
  margin-right: $gutter--xs;
  &__link {
    display: block;
  }
  &__image {
    height: $header-height-s;
    width: $header-height-s;

    @include from($breakpoint--desktop) {
      height: $header-height-m;
      width: $header-height-m;
    }
  }
}
</style>
