<template>
  <nav class="navigation-links" role="none">
    <ul class="navigation-links__list" role="none">
      <li
        v-for="(item, i) in items"
        :key="i"
        class="navigation-links__list-item"
        role="none"
      >
        <nuxt-link
          v-if="!item.to.startsWith('http')"
          :to="item.to"
          class="navigation-links__link"
          router
          exact
          no-prefetch
          v-text="item.title"
        />
        <a
          v-else
          :href="item.to"
          class="navigation-links__link"
          target="_blank"
          v-text="item.title"
        />
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation-links {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    @include underline-remove;

    padding: $gutter--xs 0;

    @include from($breakpoint--desktop) {
      padding: $gutter--s 0;
    }

    &.nuxt-link-active {
      transform: translate3d(0, 0, 0);
      @include underline;
    }
  }
}
</style>

<style lang="scss">
.navigation-links {
  a {
    @include focus-inverted;
  }
}
</style>
