<template>
  <div
    id="navigation"
    :class="{ 'navigation--open': navigation.state }"
    :style="monthBackgroundColor(monthNumber())"
    class="navigation"
    @click="handleClick"
  >
    <focus-loop :is-visible="navigation.state">
      <div class="navigation__wrapper">
        <header class="navigation__header">
          <logo />

          <div class="navigation__header-wrapper">
            <navigation-toggle state @click="handleToggleClick" />
          </div>
        </header>
        <div
          id="navigation__content"
          class="navigation__content"
          role="navigation"
          aria-labelledby="navigation__content-title"
        >
          <h2 id="navigation__content-title" class="navigation__content-title">
            Main
          </h2>
          <aside role="none" class="navigation__primary">
            <navigation-links :items="navigation.items.primary" />
          </aside>
          <aside role="none" class="navigation__secondary">
            <navigation-links :items="navigation.items.secondary" />
            <div class="navigation__social">
              <social-links :items="socialLinks" />
            </div>
          </aside>
          <div class="navigation__meta">
            <navigation-links :items="navigation.items.meta" />
          </div>
        </div>
      </div>
    </focus-loop>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import programmaticFocus from '@/util/programmaticFocus'

import { FocusLoop } from '@vue-a11y/focus-loop'
import Logo from '@/components/layout/Logo'
import NavigationToggle from '@/components/layout/NavigationToggle'
import SocialLinks from '@/components/global/SocialLinks'
import NavigationLinks from '@/components/layout/NavigationLinks'
import monthColors from '@/mixins/monthColors'

export default {
  components: {
    Logo,
    NavigationToggle,
    NavigationLinks,
    SocialLinks,
    FocusLoop
  },
  mixins: [monthColors],
  computed: {
    ...mapGetters('global', ['navigation', 'socialLinks'])
  },
  mounted() {
    window.addEventListener('keyup', (e) => {
      if (e.keyCode === 27) {
        this.setState(false)
      }
    })
  },
  methods: {
    handleClick(event) {
      if (event.target.tagName === 'A') {
        this.setState(false)
      }
    },
    handleToggleClick(state) {
      this.setState(state)
      if (!state) {
        const navigationToggleOpen = document.querySelector(
          '.navigation-toggle--open'
        )
        this.$nextTick(() => programmaticFocus(navigationToggleOpen))
      }
    },
    setState(state) {
      this.$store.dispatch('global/setNavigationState', state)
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  overflow-y: scroll;

  visibility: hidden;
  opacity: 0;
  transition: opacity $animation--duration--m $animation--timing--default,
    visibility 0s linear $animation--duration--m;

  &--open {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s,
      opacity $animation--duration--m $animation--timing--default;
  }

  &__wrapper {
    @include container;
    @include to($breakpoint--mobile) {
      padding-top: $header-padding-s;
      padding-bottom: $header-padding-s;
    }
  }

  &__header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include from($breakpoint--desktop) {
      height: $header-height-m;
      padding-top: $header-padding-m;
      padding-bottom: $header-padding-m;
    }
  }

  &__header-wrapper {
    display: flex;
  }
  &__content {
    height: 100vh;
    @include from($breakpoint--desktop) {
      height: calc(100vh - #{$header--total-height-m});
      margin-top: -$header-padding-m;
      position: relative;
      @include grid;
      align-items: center;
    }
  }
  &__content-title {
    @include visually-hidden;
  }
  &__primary {
    @include to($breakpoint--mobile) {
      @include font-size(heading-s);
    }
    @include from($breakpoint--desktop) {
      @include grid-item(50%);
      font-size: 16vh;
    }
  }
  &__secondary {
    @include font-styles(heading-xxs, heading-s);
    @include from($breakpoint--desktop) {
      @include grid-item(50%);
    }
  }
  &__social {
    margin-top: $gutter--s;
  }
  &__meta {
    @include from($breakpoint--desktop) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  &__member-link {
    display: block;
    height: 100%;
    margin: 0 $gutter--s 0 0;
    padding: 0 $gutter--s;
    border: $border--default;
    @include underline-remove;

    @include to($breakpoint--mobile) {
      line-height: $navigation-toggle-size-s - $border-width--l * 2;
    }
    @include from($breakpoint--desktop) {
      line-height: $navigation-toggle-size-m - $border-width--l * 2;
    }
  }
}
</style>

<style lang="scss">
.navigation {
  &,
  a {
    color: $color--white;
  }
  a {
    @include focus-inverted;
  }
  &__meta {
    @include from($breakpoint--desktop) {
      @include inline-navigation;
    }
    @include to($breakpoint--mobile) {
      @include inline-navigation(right);
    }
  }
}
</style>
