<template>
  <main id="page-content" class="page-content">
    <div class="page-content__wrapper">
      <slot />
    </div>
  </main>
</template>

<script></script>
<style lang="scss" scoped>
.page-content {
  flex: 1 0 auto;
  margin-bottom: $main-margin-bottom-s;
  @include from($breakpoint--desktop) {
    margin-bottom: $main-margin-bottom-m;
  }
  &__wrapper {
    @include container;
  }
}
</style>
