<template>
  <footer class="page-footer">
    <span class="page-footer__brand">GDS.FM</span>
    <social-links :items="socialLinks" />
  </footer>
</template>

<script>
import { mapGetters } from 'vuex'
import SocialLinks from '@/components/global/SocialLinks'
export default {
  components: {
    SocialLinks
  },
  computed: {
    ...mapGetters('global', ['socialLinks'])
  }
}
</script>

<style lang="scss" scoped>
.page-footer {
  @include container;
  display: flex;
  padding-top: $gutter--l;
  padding-bottom: $gutter--l;
  font-weight: bold;
  background-color: $color--black;

  @include to($breakpoint--mobile) {
    flex-direction: column;
    align-items: center;
  }

  @include from($breakpoint--desktop) {
    justify-content: space-between;
  }

  &__brand {
    @include to($breakpoint--mobile) {
      margin-top: $gutter--s;
      order: 1;
    }
  }
}
</style>

<style lang="scss">
.page-footer {
  &,
  a {
    color: $color--white;
  }
}
</style>
