<template>
  <header class="page-header">
    <div class="page-header__wrapper">
      <div class="page-header__logo-player">
        <logo adaptive />
        <player-meta />
      </div>

      <div class="page-header__navigation">
        <desktop-navigation />
        <navigation-toggle @click="handleToggleClick" />
        <navigation />
      </div>
    </div>
  </header>
</template>

<script>
import programmaticFocus from '@/util/programmaticFocus'

import Logo from '@/components/layout/Logo'
import DesktopNavigation from '@/components/layout/DesktopNavigation'
import NavigationToggle from '@/components/layout/NavigationToggle'
import Navigation from '@/components/layout/Navigation'
import PlayerMeta from '@/components/player/PlayerMeta'
export default {
  components: {
    Logo,
    DesktopNavigation,
    NavigationToggle,
    Navigation,
    PlayerMeta
  },
  methods: {
    handleToggleClick(state) {
      this.$store.dispatch('global/setNavigationState', state)

      const navigationContent = document.querySelector('#navigation__content')
      this.$nextTick(() => programmaticFocus(navigationContent))
    }
  }
}
</script>
<style lang="scss" scoped>
.page-header {
  width: 100%;
  z-index: 50;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
    height: $header-height-s;
    padding-top: $header-padding-s;
    padding-bottom: $header-padding-s;

    @include from($breakpoint--desktop) {
      height: $header-height-m;
      padding-top: $header-padding-m;
      padding-bottom: $header-padding-m;
    }
  }
  &__logo-player {
    display: flex;
    align-items: center;
    min-width: 0;
  }
  &__navigation {
    display: flex;
    align-items: center;
  }
}
</style>
