<template>
  <nav class="skip-links" role="navigation" aria-labelledby="skip-links__title">
    <h2 id="skip-links__title" class="skip-links__title">
      Skip to
    </h2>
    <a href="#page-content" class="skip-links__link">Main content</a>
    <a
      href="#navigation__content"
      class="skip-links__link"
      @click="openNavigation"
      >Main navigation</a
    >
    <a href="#player-meta__controls" class="skip-links__link"
      >Radio player controls</a
    >
    <a href="#player-meta__track-info" class="skip-links__link"
      >Track currently playing</a
    >
  </nav>
</template>

<script>
import programmaticFocus from '@/util/programmaticFocus'

export default {
  mounted() {
    if (this.$route) {
      this.$watch('$route.path', () => {
        this.$nextTick(() => programmaticFocus(document.body))
      })
    }
  },
  methods: {
    openNavigation() {
      this.$store.dispatch('global/setNavigationState', true)
    }
  }
}
</script>

<style lang="scss" scoped>
.skip-links {
  @include visually-hidden;
  @include focusable;
  padding: $gutter--m;
  position: relative;
  z-index: 99;
  background: $color--white;
  border: 2px solid $color--black;

  &__link {
    display: block;
    padding: $gutter--m;
  }
}
</style>
