<template>
  <div>
    <admin-tabs :alias="event.alias"></admin-tabs>
    <back-button to="/events" title="Zu allen Events" />
    <event-detail
      :id="event.id"
      :title="event.title"
      :image="event.image"
      :text="event.text"
      :date="event.date"
      :embed-codes="event.embedCodes"
    >
    </event-detail>
  </div>
</template>

<script>
import BackButton from '@/components/global/BackButton'
import EventDetail from '@/components/event/EventDetail'
import entityByRoute from '@/util/entityByRoute'
import storeUtil from '@/util/storeUtil'
import stripHTML from '@/util/stripHTML'
import imageUrl from '@/util/imageUrl'
import AdminTabs from '@/components/global/AdminTabs'

const storeNamespace = 'events'

export default {
  components: {
    EventDetail,
    BackButton,
    AdminTabs
  },
  async fetch(context) {
    await storeUtil.fetch(context.store, storeNamespace)
  },
  async asyncData(context) {
    const options = {
      include: ['field_image', 'field_image.field_media_image'],
      fields: {
        'node--event': [
          'title,path,field_image,field_text,field_date_range,field_embed_code'
        ],
        'media--image': ['created,field_media_image'],
        'file--file': ['uri,meta']
      }
    }

    const responses = await entityByRoute(
      context.route.path,
      options,
      context.app.$axios
    )

    const data = responses['entity#uri{0}'].data

    const event = {
      id: data.id,
      title: data.title,
      image: data.field_image.field_media_image,
      embedCodes:
        data.field_embed_code.length > 0
          ? data.field_embed_code.map((embedCode) => embedCode.processed)
          : null,
      text: data.field_text !== null ? data.field_text.processed : null,
      date: data.field_date_range,
      alias: data.path.alias
    }

    return {
      event
    }
  },
  mounted() {
    this.$scrollTo('#__nuxt', 0, { force: true })
  },
  head() {
    const meta = []
    if (this.event.text) {
      const description = stripHTML(this.event.text)
      meta.push({
        hid: 'description',
        name: 'description',
        content: description
      })
      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: description
      })
    }
    if (this.event.image.uri.value) {
      const image = imageUrl(
        this.event.image.uri.value,
        'default_xxl',
        this.$config.apiUrl
      )
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: image
      })
    }

    return { meta }
  }
}
</script>
