<template>
  <div class="artists-list">
    <h1 class="page-title">Artists</h1>
    <item-filter
      :tags="tags"
      :filters="filters"
      @filterChange="handleFilterInput"
    />
    <div class="artists-list__content">
      <artist-preview
        v-for="artist in items"
        :key="artist.id"
        :title="artist.title"
        :image="artist.field_image.field_media_image"
        :link="artist.path.alias"
        class="artists-list__item"
      />
    </div>
    <client-only>
      <infinite-loading @infinite="infiniteHandler">
        <div slot="no-more"></div>
        <div slot="no-results"></div>
      </infinite-loading>
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import storeUtil from '@/util/storeUtil'
import metaComponentName from '@/mixins/metaComponentName'
import ArtistPreview from '@/components/artist/ArtistPreview.vue'
import ItemFilter from '@/components/global/ItemFilter.vue'

const storeNamespace = 'artists'

export default {
  name: 'Artists',
  components: {
    ArtistPreview,
    ItemFilter
  },
  mixins: [metaComponentName],
  data() {
    return {
      tags: [
        {
          value: '_all',
          label: 'All'
        },
        {
          value: 'b661e38e-0224-43e1-b7db-a4b3260bfb9b',
          label: 'Konzert'
        },
        {
          value: '0a0eca29-5d93-4988-b3c3-6d74d3fff335',
          label: 'DJ'
        }
      ]
    }
  },
  computed: {
    ...mapGetters(storeNamespace, ['items', 'filters'])
  },
  async fetch(context) {
    if (Object.keys(context.route.query).length > 0) {
      await storeUtil.filterInput(
        context.store,
        storeNamespace,
        context.route.query
      )
    } else {
      await context.store.dispatch(storeNamespace + '/resetFilters')
      await storeUtil.fetch(context.store, storeNamespace)
    }
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    },
    handleFilterInput(values) {
      storeUtil.handleFilterInput(
        this.$store,
        this.$router,
        storeNamespace,
        values
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.artists-list {
  &__content {
    @include grid;
  }
  &__item {
    @include grid-item(percentage(1/1));
    @include from(s) {
      @include grid-item(percentage(1/2));
    }
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(1/3));
    }
  }
}
</style>

<style scoped></style>
