<template>
  <div v-if="sessionPresent" class="admin-tabs">
    <a :href="editLink" target="_blank">Edit</a>
  </div>
</template>

<script>
export default {
  props: {
    alias: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      sessionPresent: false
    }
  },
  computed: {
    editLink() {
      return `https://backend.gds.fm${this.alias}/edit`
    }
  },
  mounted() {
    this.sessionPresent = !!this.$cookies.get('admin')
  }
}
</script>

<style lang="scss" scoped>
.admin-tabs {
  float: right;
}
</style>
