<template>
  <nuxt-link :to="to" class="back-button__link">
    <div class="back-button inline-icon-container" @click="handleClick">
      <svg-icon name="arrow-left--light" title="Zurück" />
      {{ title }}
    </div>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Zurück'
    },
    to: {
      type: String,
      default: '/'
    }
  },
  methods: {
    handleClick(event) {
      event.preventDefault()
      if (this.$router.referer.path === this.to) {
        this.$router.back()
      } else {
        this.$router.push(this.to)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.back-button {
  @include font-styles(m, l);
  font-weight: bold;

  &__link {
    @include underline-remove;
    display: inline-block;
    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--s;
    }
    @include from($breakpoint--desktop) {
      margin-bottom: $gutter--xxl;
    }
  }
}
</style>
