<template>
  <div v-if="embedCode" :class="`embed--${domain}`" class="embed">
    <div class="embed__code" v-html="embedCode"></div>
  </div>
</template>

<script>
import parseDomain from '@/util/parseDomain'
export default {
  props: {
    embedCode: {
      type: String,
      default: '',
      required: true
    }
  },
  computed: {
    domain() {
      const pattern = /src="([^"]+)"/
      const match = pattern.exec(this.embedCode)
      if (match !== null) {
        const url = match[1]
        let domain = parseDomain(url)
        domain = this.getDomainSpecificDetails(domain, url)
        return domain
      } else {
        return false
      }
    }
  },
  methods: {
    getDomainSpecificDetails(domain, url) {
      switch (domain) {
        case 'bandcamp':
          if (!url.includes('/tracklist=false')) {
            return 'bandcamp-large'
          }
          break
      }
      return domain
    }
  }
}
</script>

<style lang="scss" scoped>
.embed {
  max-height: 100%;
  &__code {
    height: 100%;
  }
  &--hearthis {
    height: 300px;
  }
  &--spotify {
    height: 380px;
  }
  &--youtube,
  &--vimeo,
  &--twitch {
    @include aspect-ratio-parent(16/9);
    .embed__code {
      @include aspect-ratio-child;
    }
  }
  &--bandcamp {
    // prettier-ignore
    height: 120PX;
    &-large {
      height: 440px;
    }
  }
}
</style>

<style lang="scss">
.embed {
  iframe {
    height: 100%;
  }
}
</style>
