<template>
  <header class="hero-header">
    <div class="hero-header__background">
      <slot name="background" />
    </div>

    <div class="hero-header__image">
      <slot name="image" />
    </div>
    <div
      :class="{ 'hero-header__content--overlap': overlapContent }"
      class="hero-header__content"
    >
      <slot name="content" />
    </div>
  </header>
</template>

<script>
export default {
  props: {
    overlapContent: {
      type: Boolean,
      default: true
    }
  }
}
</script>
<style lang="scss" scoped>
.hero-header {
  @include to($breakpoint--mobile) {
    @include full-width;
    padding: 0 $page--margin--s;
    display: flexbox;
    flex-direction: column;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vw);
      overflow: hidden;
      padding: $header--total-height-s 0 0;
      display: flex;
      //align-items: center;
      justify-content: center;
    }
    &__content {
      position: relative;
      padding-bottom: $gutter--l;

      &--overlap {
        margin-top: 55vw;
        margin-top: 100vw;
      }
    }
    &__image {
      order: 1;
    }
  }
  @include from($breakpoint--desktop) {
    min-height: calc(100vh);
    margin-top: -$header--total-height-m;
    display: flex;
    align-items: center;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &__content {
      width: 60%;
      //z-index: 1;
      position: relative;
      margin-top: $header-height-m + $header-padding-m;
    }
    &__image {
      margin-top: $header-height-m + $header-padding-m;
      margin-left: $gutter--m;
      order: 1;

      @include to($breakpoint--mobile) {
        margin-bottom: $gutter--l;
      }
    }
  }
}
</style>

<style lang="scss">
.hero-header {
  .link-button {
    margin-top: 0;
  }
}
</style>
