<template>
  <div class="item-filter">
    <input
      id="search"
      ref="search"
      :value="filters.search"
      type="search"
      name="search"
      class="item-filter__search"
      placeholder="Suche"
      @input="handleFilterInput"
    />
    <ul ref="tags" class="item-filter__tags">
      <li v-for="tag in tags" :key="tag.value" class="item-filter__tags-item">
        <input
          :id="'tag-' + tag.value"
          :value="tag.value"
          :checked="tag.value === filters.tag"
          type="radio"
          name="tags"
          class="item-filter__tags-item-input"
          @change="handleFilterInput"
        />
        <label :for="'tag-' + tag.value" class="item-filter__tags-item-label">{{
          tag.label
        }}</label>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    tags: {
      type: Array,
      default: () => {
        return []
      }
    },
    filters: {
      type: Object,
      default: () => {
        return {
          search: '',
          tag: '_all  '
        }
      }
    }
  },
  data() {
    return {}
  },
  methods: {
    handleFilterInput() {
      const filters = {
        search: this.$refs.search.value
      }
      if (this.tags.length) {
        filters.tag = this.$refs.tags.querySelector('input:checked').value
      }
      this.$emit('filterChange', filters)
    }
  }
}
</script>

<style lang="scss" scoped>
.item-filter {
  margin: $gutter--m 0 $gutter--l;
  @include from($breakpoint--desktop) {
    margin: $gutter--xl 0;
  }

  @include from($breakpoint--desktop) {
    display: flex;
    justify-content: space-between;
  }
  &__search {
    max-width: 320px;
  }
  &__tags {
    display: flex;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    @include to($breakpoint--mobile) {
      margin-top: $gutter--s;
    }
  }
  &__tags-item {
    @include to($breakpoint--mobile) {
      margin-right: $gutter--s;
    }
    @include from($breakpoint--desktop) {
      margin-left: $gutter--s;
    }
  }
  &__tags-item-input {
    display: none;
    &:checked {
      + .item-filter__tags-item-label {
        text-decoration: underline;
      }
    }
  }
  &__tags-item-label {
    font-weight: bold;
  }
}
</style>
