<template>
  <transition appear name="scale">
    <div class="loophole-video">
      <slot />
    </div>
  </transition>
</template>

<script></script>
<style lang="scss" scoped>
.loophole-video {
  will-change: transform;

  @include to($breakpoint--mobile) {
    width: 90vw;
    height: 90vw;
  }
  @include from($breakpoint--desktop) {
    width: 92vh;
    height: 92vh;
    position: absolute;
    right: -5%;
    top: 50%;
    margin-top: -46vh;
  }
  overflow: hidden;

  border-radius: 50%;
}
</style>
<style lang="scss">
.loophole-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
</style>
