<template>
  <section class="member-teaser">
    <aside class="member-teaser__image">
      <img
        :data-srcset="require('~/assets/images/member.jpeg').srcSet"
        class="lazyload"
        data-sizes="auto"
        alt="Unterstütze GDS"
      />
    </aside>
    <aside class="member-teaser__text">
      <h2 class="member-teaser__title">Unterstütze GDS</h2>
      <p>
        Damit wir auch in Zukunft den Radiobetrieb gewährleisten können, aber
        auch, damit wir wieder mit verrückten Projekten, ausufernden Konzerten
        und hoffentlich mit dir in die Jahrbücher eingehen können, sind wir auf
        deine Unterstützung angewiesen: Werde Mitglied bei GDS.FM und besuche
        unsere Veranstaltungen!
      </p>
      <nuxt-link to="/member" class="button">Member werden</nuxt-link>
      <a href="https://mailchi.mp/gds/newsletter" target="_blank" class="button"
        >Newsletter abonnieren</a
      >
    </aside>
  </section>
</template>

<style lang="scss" scoped>
.member-teaser {
  @include from($breakpoint--desktop) {
    @include grid();
    align-items: center;
  }
  &__image {
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(5/12));
    }
  }
  &__text {
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(7/12));
    }
  }
  &__title {
    @include to($breakpoint--mobile) {
      margin-top: $gutter--m;
    }
  }
}
</style>
