<template>
  <transition name="default">
    <div>
      <div class="modal__overlay"></div>
      <div
        :class="classObject"
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header id="modalTitle" class="modal__header">
          <h1 class="modal__title">
            <slot name="header"> </slot>
          </h1>
          <navigation-toggle state @click="close" />
        </header>
        <section id="modalDescription" class="modal__body">
          <slot name="body"> </slot>
          <div v-if="pager" class="modal__pager">
            <button
              class="modal__pager-button modal__pager-button--previous"
              aria-label="Previous"
              @click="$emit('previous')"
            >
              <svg-icon
                name="arrow-left"
                title="Zurück"
                class="accordion__header-icon"
              />
            </button>
            <button
              class="modal__pager-button modal__pager-button--next"
              aria-label="Next"
              @click="$emit('next')"
            >
              <svg-icon
                name="arrow-right"
                title="Zurück"
                class="accordion__header-icon"
              />
            </button>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
import NavigationToggle from '@/components/layout/NavigationToggle'
export default {
  components: {
    NavigationToggle
  },
  props: {
    modifier: {
      type: String,
      default: 'fullscreen'
    },
    pager: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classObject() {
      const classObject = {}
      classObject['modal--' + this.modifier] = true
      return classObject
    }
  },
  mounted() {
    window.addEventListener('keyup', (e) => {
      if (e.keyCode === 27) {
        this.close()
      }
      if (e.keyCode === 37) {
        this.$emit('previous')
      }
      if (e.keyCode === 39) {
        this.$emit('next')
      }
    })
  },
  methods: {
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  //box-shadow: 2px 2px 20px 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 200;

  &--fullscreen {
    width: 100%;
    height: 100vh;
  }

  &--popup {
    width: 100%;
    height: 100vh;
    max-width: 600px;
    max-height: 400px;

    .modal__body {
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      padding: $gutter--l;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, $opactiy-s);
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    color: $color--white;
    background-color: $color--black;
    justify-content: space-between;
    padding: $gutter--m;
    height: $header--total-height-s;

    box-sizing: border-box;
    @include from($breakpoint--desktop) {
      padding: $gutter--m $gutter--m;
    }
  }
  &__title {
    margin: 0;
    @include font-size(l);
  }
  &__close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: $color--white;
    background: transparent;
    margin: 0;
  }
  &__body {
    overflow-x: scroll;
    position: relative;
    padding: $gutter--m;
    flex-grow: 1;
  }
  &__pager {
  }
  &__pager-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    height: auto;

    background: none;
    color: $color--black;

    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
</style>
