<template>
  <div v-if="items" class="blocks">
    <component
      :is="item.type"
      v-for="(item, index) in items"
      :key="index"
      :fields="item"
    />
  </div>
</template>
<script>
import Text from '~/components/paragraphs/Text'
import EmbedCode from '~/components/paragraphs/EmbedCode'
import HeaderTwoColumns from '~/components/paragraphs/HeaderTwoColumns'
import Accordion from '~/components/paragraphs/Accordion'
import Nominees from '~/components/paragraphs/Nominees'
import Nominee from '~/components/paragraphs/Nominee'
import CTA from '~/components/paragraphs/CTA'
import Title from '~/components/paragraphs/Title'
import ContentTwoColumns from '~/components/paragraphs/ContentTwoColumns'
import Winners from '~/components/paragraphs/Winners'
import Winner from '~/components/paragraphs/Winner'

const blocks = {
  'paragraph--embed_code': EmbedCode,
  'paragraph--text': Text,
  'paragraph--slideshow': Text,
  'paragraph--header_two_columns': HeaderTwoColumns,
  'paragraph--accordion': Accordion,
  'paragraph--nominees': Nominees,
  'paragraph--nominee': Nominee,
  'paragraph--cta': CTA,
  'paragraph--title': Title,
  'paragraph--content_two_columns': ContentTwoColumns,
  'paragraph--winners': Winners,
  'paragraph--winner': Winner
}

export default {
  components: {
    ...blocks
  },
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>
