<template>
  <div class="payment-methods">
    <div v-for="(item, i) in items" :key="i" class="payment-methods__item">
      <svg-icon
        :name="`payment--${item.toLowerCase()}`"
        :title="item"
        class="payment-methods__icon"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
.payment-methods {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $gutter--m;

  &__item {
    margin-right: $gutter--xs;
    border: $border--light-s;
    border-radius: 5px;
  }

  &__icon {
    width: 50px;
    height: 33px;
  }
}
</style>
