<template>
  <picture>
    <source :data-srcset="srcSet('.webp')" type="image/webp" sizes="auto" />
    <source :data-srcset="srcSet()" type="image/jpeg" sizes="auto" />
    <img
      data-sizes="auto"
      :alt="alt"
      :v-aspect-ratio="ratioString"
      class="lazyload"
      src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    />
  </picture>
</template>

<script>
import imageUrl from '@/util/imageUrl'

export default {
  props: {
    image: {
      type: Object,
      default: () => {}
    },
    sizes: {
      type: String,
      default: '100vw'
    },
    altFallback: {
      type: String,
      default: ''
    },
    imageStyleBase: {
      type: String,
      default: 'default'
    }
  },
  data() {
    return {
      styles: {
        [`${this.imageStyleBase}_xs`]: 320,
        [`${this.imageStyleBase}_s`]: 640,
        [`${this.imageStyleBase}_m`]: 960,
        [`${this.imageStyleBase}_l`]: 1280,
        [`${this.imageStyleBase}_xl`]: 1440,
        [`${this.imageStyleBase}_xxl`]: 1920,
        [`${this.imageStyleBase}_xxxl`]: 2560
      }
    }
  },
  computed: {
    imageUri() {
      return this.image.uri.value
    },
    alt() {
      return this.image.meta.alt ? this.image.meta.alt : this.altFallback
    },
    width() {
      return this.image.meta.width
    },
    height() {
      return this.image.meta.height
    },
    ratioString() {
      return `'${this.width}:${this.height}'`
    },
    fallback() {
      return this.buildImageUrl(`${this.imageStyleBase}_xxxl`)
    },
    jsonLd() {
      return {
        '@context': 'http://schema.org',
        '@type': 'ImageObject',
        contentUrl: this.fallback,
        description: this.alt
      }
    }
  },
  methods: {
    srcSet(suffix = '') {
      const srcSet = []
      for (const key in this.styles) {
        srcSet.push(this.buildImageUrl(key, suffix))
      }
      return srcSet.join(', ')
    },
    buildImageUrl(style, suffix = '') {
      return `${imageUrl(this.imageUri, style, this.$config.apiUrl)}${suffix} ${
        this.styles[style]
      }w`
    }
  }
}
</script>

<style>
img {
  width: 100%;
}
</style>
