<template>
  <div class="social-links">
    <a
      v-for="(item, i) in parsedItems"
      :key="i"
      :href="item.uri"
      class="social-links__link"
      target="_blank"
    >
      <svg-icon
        :name="item.icon"
        :title="item.title"
        :class="['social-links__icon', 'social-links__icon--' + item.domain]"
      />
      <div class="social-links__title" v-text="item.title" />
    </a>
  </div>
</template>

<script>
import parseDomain from '@/util/parseDomain'
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      icons: {
        facebook: 'social--facebook',
        twitter: 'social--twitter',
        hearthis: 'social--hearthis',
        instagram: 'social--instagram',
        vimeo: 'social--vimeo',
        mixcloud: 'social--mixcloud',
        soundcloud: 'social--soundcloud',
        spotify: 'social--spotify',
        t: 'social--telegram',
        youtube: 'social--youtube',
        generic: 'social--generic'
      }
    }
  },
  computed: {
    parsedItems() {
      const parsedItems = []
      for (const key in this.items) {
        if (this.items.hasOwnProperty(key)) {
          const element = this.items[key]
          const domain = parseDomain(element.uri)
          const icon = this.icons.hasOwnProperty(domain)
            ? this.icons[domain]
            : this.icons.generic

          parsedItems.push({
            ...element,
            icon,
            domain
          })
        }
      }
      return parsedItems
    }
  }
}
</script>

<style lang="scss" scoped>
.social-links {
  display: flex;

  &__link {
    margin-right: $gutter--s;
    .page-footer & {
      @include to($breakpoint--mobile) {
        margin: 0 $gutter--xxs;
      }

      @include from($breakpoint--desktop) {
        margin-right: 0;
        margin-left: $gutter--s;
      }
    }
  }
  &__title {
    display: none;
  }
  &__icon {
    height: $icon-size--s;
    width: $icon-size--s;

    &--mixcloud {
      width: $icon-size--s / 17 * 30;
    }

    &--twitter {
      width: $icon-size--s / 23 * 30;
    }
  }
}
</style>
