<template>
  <section class="teasers">
    <div class="teasers__wrapper">
      <h2 class="section-title">{{ title }}</h2>
      <div class="teasers__items">
        <div v-for="item in items" :key="item.id" class="teasers__item">
          <teaser
            :title="item.title"
            :link="item.path.alias"
            :date="item.field_date"
            :image="item.field_image.field_media_image"
            class="event-list__item"
          />
        </div>
      </div>
      <nuxt-link :to="link" class="button button--inverted">{{
        linkTitle
      }}</nuxt-link>
    </div>
  </section>
</template>

<script>
import Teaser from '@/components/global/Teaser'

export default {
  components: {
    Teaser
  },
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    },
    title: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: ''
    },
    linkTitle: {
      type: String,
      default: ''
    },
    subtitleField: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.teasers {
  @include full-width-inverted-section;

  .button {
    @include to($breakpoint--mobile) {
      margin-top: 0;
    }
  }
}
</style>
