<template>
  <nuxt-link :to="link" class="teaser__link">
    <article class="teaser">
      <responsive-image
        :image="image"
        :alt-fallback="title"
        sizes="(min-width: 900px) 25vw, 50vw"
        class="teaser__image"
      />
      <div v-if="date" class="teaser__subtitle">
        {{ formattedDate }}
      </div>
      <h3 class="teaser__title">
        {{ title }}
      </h3>
    </article>
  </nuxt-link>
</template>

<script>
import formattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'

export default {
  components: {
    ResponsiveImage
  },
  mixins: [formattedDate],
  props: {
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    title: {
      type: String,
      default: ''
    },
    date: {
      type: String,
      default: ''
    },
    link: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.teaser {
  @include to($breakpoint--mobile) {
    margin-bottom: $gutter--xl;
  }
  &__link {
    @include underline-remove;
    display: block;
  }
  &__image {
    margin-bottom: $gutter--s;
  }
  &__title {
    @include font-styles(heading-xxs, heading-xs);
  }
  &__subtitle {
    @include font-styles(xs, l);
  }
}
</style>
