<template>
  <section
    :class="{ 'two-column-content--reverse-on-wrap': reverseOnWrap }"
    class="two-column-content"
  >
    <aside class="two-column-content__left">
      <slot name="left"> </slot>
    </aside>
    <aside class="two-column-content__right">
      <slot name="right"> </slot>
    </aside>
  </section>
</template>

<script>
export default {
  props: {
    reverseOnWrap: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.two-column-content {
  @include grid;
  margin-bottom: $gutter--l;
  &--reverse-on-wrap {
    @include to($breakpoint--mobile) {
      flex-direction: column-reverse;
    }
  }
  &__left,
  &__right {
    @include to($breakpoint--mobile) {
      @include grid-item(100%);
      margin-bottom: $gutter--m;
    }
    @include from($breakpoint--desktop) {
      @include grid-item(50%);
    }
  }
}
</style>

<style lang="scss">
.two-column-content {
  .button {
    margin-top: 0;
    margin-bottom: $gutter--xs;
  }
}
</style>
