<template>
  <div class="news-list">
    <h1 class="page-title">News</h1>
    <item-filter :filters="filters" @filterChange="handleFilterInput" />
    <div class="news-list__content">
      <news-preview
        v-for="item in items"
        :key="item.id"
        :title="item.title"
        :image="item.field_image.field_media_image"
        :link="item.path.alias"
        :date="item.field_date"
        class="news-list__item"
      />
    </div>
    <client-only>
      <infinite-loading @infinite="infiniteHandler">
        <div slot="no-more"></div>
        <div slot="no-results"></div>
      </infinite-loading>
    </client-only>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import metaComponentName from '@/mixins/metaComponentName'
import NewsPreview from '@/components/news/NewsPreview.vue'
import ItemFilter from '@/components/global/ItemFilter.vue'
import storeUtil from '@/util/storeUtil'

const storeNamespace = 'news'

export default {
  name: 'News',
  components: {
    NewsPreview,
    ItemFilter
  },
  mixins: [metaComponentName],
  computed: {
    ...mapGetters(storeNamespace, ['items', 'filters'])
  },
  async fetch(context) {
    if (Object.keys(context.route.query).length > 0) {
      await storeUtil.filterInput(
        context.store,
        storeNamespace,
        context.route.query
      )
    } else {
      await context.store.dispatch(storeNamespace + '/resetFilters')
      await storeUtil.fetch(context.store, storeNamespace)
    }
  },
  methods: {
    infiniteHandler($state) {
      storeUtil.infiniteHandler(this.$store, $state, storeNamespace)
    },
    handleFilterInput(values) {
      storeUtil.handleFilterInput(
        this.$store,
        this.$router,
        storeNamespace,
        values
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.news-list {
  &__content {
  }
}
</style>

<style scoped></style>
