<template>
  <div class="impressum">
    <h1 class="page-title page-title--centered page-title--small">Impressum</h1>
    <p class="text--l">
      Postadresse:<br />
      Verein GDS.FM<br />
      Kurzgasse 4<br />
      8004 Zürich
    </p>

    <p class="text--l">
      Rechnungsadresse:<br />
      Verein GDS.FM<br />
      Rebhügelstrasse<br />
      8045 Zürich
    </p>
  </div>
</template>

<script>
import metaComponentName from '@/mixins/metaComponentName'

export default {
  name: 'Impressum',
  mixins: [metaComponentName]
}
</script>
