<template>
  <div>
    <admin-tabs :alias="awards.alias"></admin-tabs>
    <awards-detail
      :title="awards.title"
      :content="awards.content"
      :header="awards.header"
    ></awards-detail>
  </div>
</template>

<script>
import entityByRoute from '@/util/entityByRoute'
import stripHTML from '@/util/stripHTML'
import imageUrl from '@/util/imageUrl'
import AwardsDetail from '@/components/awards/AwardsDetail'
import AdminTabs from '@/components/global/AdminTabs'

export default {
  components: {
    AwardsDetail,
    AdminTabs
  },
  async asyncData(context) {
    const include = [
      'field_content',
      'field_content.field_content',
      'field_content.field_content.field_content',
      'field_header',
      'field_header.field_content',
      'field_header.field_media',
      'field_header.field_media.field_media_image',
      'field_content.field_content_left',
      'field_content.field_content_right',
      'field_content.field_content_left.field_content',
      'field_content.field_content_right.field_content',
      'field_content.field_content_left.field_content.field_image',
      'field_content.field_content_left.field_content.field_image.field_media_image',
      'field_content.field_content_right.field_content.field_image',
      'field_content.field_content_right.field_content.field_image.field_media_image'
    ]

    const options = {
      include: include.join()
    }

    const responses = await entityByRoute(
      context.route.path,
      options,
      context.app.$axios
    )

    const data = responses['entity#uri{0}'].data
    const awards = {
      id: data.id,
      title: data.title,
      content: data.field_content,
      header: [data.field_header],
      alias: data.path.alias
    }

    return {
      awards
    }
  },
  mounted() {
    this.$scrollTo('#__nuxt', 0, { force: true })
  },
  head() {
    const meta = []

    const title = `GDS.FM - GDS-Awards ${this.awards.title}`

    const header = this.awards.header[0]

    if (header.field_content[0].field_text.processed) {
      const description = stripHTML(
        header.field_content[0].field_text.processed
      )
      meta.push({
        hid: 'description',
        name: 'description',
        content: description
      })
      meta.push({
        hid: 'og:description',
        name: 'og:description',
        content: description
      })
    }
    if (header.field_media.field_media_image.uri.value) {
      const image = imageUrl(
        header.field_media.field_media_image.uri.value,
        'default_xxl',
        this.$config.apiUrl
      )
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: image
      })
    }
    return { title, meta }
  }
}
</script>
