<template>
  <div class="about">
    <hero-header :overlap-content="false">
      <template v-slot:image>
        <img src="~/assets/images/about-1.jpg" alt="DJs im Sender">
      </template>
      <template v-slot:content>
        <h1 class="page-title">About</h1>
        <h2 class="page-subtitle">Der Verein GDS.FM</h2>
        <p>
          GDS.FM (Zürichs Radio gegen den Strom) ist eine unabhängige und
          werbefreie Plattform für Musikschaffende. Wir setzen uns dafür ein,
          dass die lokale kulturelle Vielfalt auch über Radio zugänglich gemacht
          wird. Wir senden eigene Konzertreihen und DJ-Sets aus verschiedenen
          Locations und übertragen live von Festivals und Veranstaltungen aller
          Art. Die übrige Zeit spielen wir in unseren Rotationen und Setblocks
          handverlesene Musik.
        </p>
      </template>
    </hero-header>
    <section class="page-section">
      <two-column-content>
        <template v-slot:left>
          <p>
            Beim Booking achten wir auf eine möglichst grosse Diversität. Auch
            bieten wir kostenlose DJ-Workshops an für die Förderung von
            Minderheiten in diesem Bereich. Jährlich vergibt unsere Redaktion an
            den <a href="/awards/2023">"GDS-Awards"</a> den "Goldenen Lachs" in
            diversen Kategorien und monatlich präsentieren wir im «Fresh Mess»
            neuste Veröffentlichungen.
            <a href="/news/zmorge-zmittag-zvieri-znacht-und-bettmuempfelimusig">Rotationen</a>
            sind vom Musikstil her wild gemischt, passen aber immer zur
            Tageszeit und werden regelmässig mit neuen, ausgewählten Tracks
            gefüttert.
          </p>
        </template>
        <template v-slot:right>
          <p>
            <a href="/artists">«Setblocks»</a> sind vorproduzierte DJ-Sets und
            Radioshows von Musiker*innen, DJs und Labels. Im Programm erfährst
            du, wer als nächstes dran ist und im
            <a href="/replay">Archiv</a> können alle Shows nachgehört werden.
            Mit folgender Auflistung möchten wir am Beispiel vom letzten Jahr
            detailliert aufzeigen, woran wir arbeiten und was unsere
            Investitionen alles beinhalten.
          </p>
        </template>
      </two-column-content>
    </section>

    <section class="page-section">
      <img src="~/assets/images/about-2.jpg" alt="Band an der GDS.FM Awards">
    </section>
    <member-teaser />

    <section class="page-section">
      <h3>GDS.FM empfangen</h3>
      <two-column-content>
        <template v-slot:left>
          <p>
            Neben dem Player auf unserer Homepage kannst du dir GDS.FM auch über
            die
            <a href="https://tunein.com/radio/GDSFM-s218325/" target="_blank">Tune-In App</a>
            anhören. Im Raum Zürich senden wir auch über DAB+ an sämtliche
            Digitalradios in der Region. Eine Verbreitungskarte findest du
            <a href="https://www.digris.ch/verbreitung/programme/e8d9b4bd-8af7-4115-a245-7972ed67ab45/"
              target="_blank">hier</a>. Bei Cablecom und Swisscom-TV sind wir in den Radiosendern
            aufgeführt und bei Itunes/Apple-TV findest du uns in der Sparte
            "Alternative" bei den Internetradios. Auch kannst du bei
            alternativen Playern direkt unseren MP3-Stream einfügen:
            <a href="https://gdsfm.out.airtime.pro/gdsfm_a">https://gdsfm.out.airtime.pro/gdsfm_a</a>
          </p>
        </template>
        <template v-slot:right>
          <p>
            Falls du unseren Stream nicht hören kannst, prüfe zuerst ob es auf
            anderen Geräten und Netzwerken (zb. via Mobilnetz) funktioniert.
            Sollte es ein lokales Netzwerkproblem sein oder du am Arbeitsplatz
            bist, müsste deine IT-Abteilung Port 8001 noch freischalten.
          </p>
          <p>
            Falls es nicht daran liegt, kannst du uns gerne alle Angaben zu
            deinem Browser/Netzwerk etc. durchgeben via Kontaktformular, und wir
            versuchen dir zu helfen.
          </p>
        </template>
      </two-column-content>
    </section>
    <section class="page-section">
      <h2>Partner</h2>
      <partner-list />
    </section>
    <section class="about__locations page-section">
      <h2>We play</h2>
      <two-column-content>
        <template v-slot:left>
          <p>
            Viele tolle Zürcher Locations spielen GDS.FM den ganzen Tag lang! Wo
            du beim Sport, Haareschneiden oder während des Feierabendbiers auf
            unsere Musik treffen kannst, siehst du auf der Karte. Falls dein
            eigenes Lokal noch fehlt, kannst du dieses
            <nuxt-link to="kontakt">hier</nuxt-link> anmelden.
          </p>
        </template>
        <template v-slot:right> </template>
      </two-column-content>
      <location-list :items="locations" />
    </section>
  </div>
</template>

<script>
import jsonApi from '@/api/jsonApiClient'
import metaComponentName from '@/mixins/metaComponentName'
import TwoColumnContent from '@/components/global/TwoColumnContent'
import HeroHeader from '@/components/global/HeroHeader'
import MemberTeaser from '@/components/global/MemberTeaser'
import PartnerList from '@/components/partner/PartnerList'
import LocationList from '@/components/location/LocationList'

export default {
  name: 'About',
  components: {
    TwoColumnContent,
    HeroHeader,
    MemberTeaser,
    PartnerList,
    LocationList
  },
  mixins: [metaComponentName],
  async asyncData(context) {
    const options = {
      include: ['field_image', 'field_image.field_media_image'],
      fields: {
        'node--location': ['title,field_image,field_link'],
        'media--image': ['created,field_media_image'],
        'file--file': ['uri,meta']
      },
      page: {
        limit: 100
      }
    }
    const locations = await jsonApi.get(
      'node/location',
      context.app.$axios,
      options
    )
    return {
      locations
    }
  }
}
</script>
