<template>
  <details class="accordion">
    <summary class="accordion__header">
      <div class="accordion__header-title">
        <h3 class="accordion__primary-title">
          {{ fields.field_primary_title }}
        </h3>
        <div class="accordion__secondary-title">
          {{ fields.field_secondary_title }}
        </div>
      </div>
      <div class="accordion__header-icon-wrapper">
        <svg-icon
          name="arrow-down"
          title="Zurück"
          class="accordion__header-icon"
        />
      </div>
    </summary>
    <div class="accordion__content-wrapper">
      <paragraphs-content
        :items="fields.field_content"
        class="accordion__content"
      />
    </div>
  </details>
</template>

<script>
export default {
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.accordion {
  border-top: $border--light-s;
  border-bottom: $border--light-s;

  &:first-of-type {
    //margin-top: $gutter--xl;
  }
  &:last-of-type {
  }
  + .accordion {
    border-bottom: none;
  }
  &__header {
    list-style: none;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: $gutter--l 0;
    transition: opacity $animation--duration--s $animation--timing--default;
    cursor: pointer;

    &:hover {
      opacity: $opactiy-m;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
  &__header-icon-wrapper {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__header-icon {
    transition: transform $animation--duration--s $animation--timing--default;
    padding: $gutter--xs;
    border: $border--default;
    border-color: $color--black;
    border-radius: 50%;
    will-change: transform;
  }
  &[open] {
    .accordion__header-icon {
      transform: rotate(180deg);
      color: $color--white;
      background-color: $color--black;
    }
  }
  &__header-title {
    padding-right: $icon-size--m + $gutter--xs * 2 + $border-width--l * 2;
  }
  &__primary-title {
    margin: 0;
  }
  &__secondary-title {
    //@include font-size(s);
  }
  &__content-wrapper {
    padding-bottom: $gutter--xxl;
  }
}
</style>
