<template>
  <article class="awards-detail">
    <paragraphs-content :items="header" class="awards-detail__header" />
    <paragraphs-content :items="content" class="awards-detail__content" />
  </article>
</template>

<script>
import metaTitleProp from '@/mixins/metaTitleProp'

export default {
  mixins: [metaTitleProp],
  props: {
    id: {
      type: String,
      default: ''
    },
    header: {
      type: Array,
      default: () => {
        return []
      }
    },
    content: {
      type: Array,
      default: () => {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.awards-detail {
}
</style>
