<template>
  <two-column-content>
    <template v-slot:left>
      <paragraphs-content :items="fields.field_content_left" />
    </template>
    <template v-slot:right>
      <paragraphs-content :items="fields.field_content_right" />
    </template>
  </two-column-content>
</template>

<script>
import TwoColumnContent from '@/components/global/TwoColumnContent'

export default {
  components: {
    TwoColumnContent
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
