<template>
  <div v-if="fields.field_link">
    <a v-if="external" :href="url" class="cta button" :target="external">
      {{ fields.field_link.title }}
    </a>
    <nuxt-link v-else :to="url" class="cta button" :target="external">
      {{ fields.field_link.title }}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    url() {
      const url = this.fields.field_link.uri
      return url.replace('internal:', '')
    },
    external() {
      const url = this.fields.field_link.uri
      if (url.startsWith('http')) {
        return 'blank'
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cta {
  margin-right: $gutter--m;
  margin-bottom: 1em;
}
</style>
