<template>
  <embed-code
    v-if="fields.field_embed_code"
    :embed-code="fields.field_embed_code.processed"
  />
</template>

<script>
import EmbedCode from '@/components/global/EmbedCode'
export default {
  components: {
    EmbedCode
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
