<template>
  <section class="header-two-columns">
    <hero-header :overlap-content="false">
      <template v-slot:image>
        <responsive-image
          :image="fields.field_media.field_media_image"
          :alt-fallback="fields.field_primary_title"
          sizes="(min-width: 900px) 50vw, 100vw"
          class="header-two-columns__image"
        />
      </template>
      <template v-slot:content>
        <h1 class="page-title">{{ fields.field_primary_title }}</h1>
        <h2 v-if="fields.field_secondary_title" class="page-subtitle">
          {{ fields.field_secondary_title }}
        </h2>
        <paragraphs-content
          :items="fields.field_content"
          class="header-two-columns__content"
        />
      </template>
    </hero-header>
  </section>
</template>

<script>
import HeroHeader from '@/components/global/HeroHeader'
import ResponsiveImage from '@/components/global/ResponsiveImage'

export default {
  components: {
    HeroHeader,
    ResponsiveImage
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
.news-detail {
  &__wrapper {
    @include content-narrow;
  }

  &__image {
    margin-bottom: $gutter--s;
    @include from($breakpoint--desktop) {
      margin-left: -100px;
      margin-right: -100px;
    }
  }

  &__date {
    margin-bottom: $gutter--xs;
  }
  &__title {
    @include from($breakpoint--desktop) {
      text-align: center;
    }
  }

  &__content {
    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--xxl;
    }
    @include from($breakpoint--desktop) {
      margin-bottom: $gutter--xxxxxl;
    }
  }
}
</style>
