<template>
  <section class="nominees">
    <div
      v-for="(nominee, index) in fields.field_content"
      :key="nominee.id"
      class="nominees__item"
      @click.prevent="handleNomineeClick($event, index)"
    >
      <nominee :fields="nominee" />
    </div>
    <div class="nominees__modal">
      <modal
        v-if="selectedNomineeIndex !== null"
        modifier="popup"
        pager
        @close="closeModal"
        @next="nextNominee"
        @previous="previousNominee"
      >
        <template #header>
          {{ modalTitle }}
        </template>
        <template #body>
          <embed-code :embed-code="modalContent" />
        </template>
      </modal>
    </div>
  </section>
</template>

<script>
import EmbedCode from '@/components/global/EmbedCode'
import Modal from '@/components/global/Modal'
import Nominee from '@/components/paragraphs/Nominee'
export default {
  components: {
    Nominee,
    Modal,
    EmbedCode
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  data: () => {
    return {
      selectedNomineeIndex: null
    }
  },
  computed: {
    selectedNominee() {
      if (this.selectedNomineeIndex !== null) {
        return this.fields.field_content[this.selectedNomineeIndex]
      } else {
        return null
      }
    },
    modalContent() {
      if (this.selectedNominee !== null) {
        return this.selectedNominee.field_embed_code.processed
      } else {
        return null
      }
    },
    modalTitle() {
      if (this.selectedNominee !== null) {
        return `${this.selectedNominee.field_primary_title} - ${this.selectedNominee.field_secondary_title}`
      } else {
        return null
      }
    },
    nomineesLength() {
      return this.fields.field_content.length - 1
    }
  },
  methods: {
    handleNomineeClick($event, index) {
      this.selectedNomineeIndex = index
    },
    nextNominee($event, index) {
      if (this.selectedNomineeIndex === this.nomineesLength) {
        this.selectedNomineeIndex = 0
      } else {
        this.selectedNomineeIndex++
      }
    },
    previousNominee($event, index) {
      if (this.selectedNomineeIndex === 0) {
        this.selectedNomineeIndex = this.nomineesLength
      } else {
        this.selectedNomineeIndex--
      }
    },
    closeModal($event, index) {
      this.selectedNomineeIndex = null
    }
  }
}
</script>

<style lang="scss" scoped>
.nominees {
  @include grid;

  &__item {
    @include grid-item(percentage(1/1));
    margin-bottom: $gutter--s;
    @include from(s) {
      @include grid-item(percentage(1/2));
    }
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(1/3));
    }
  }
}
</style>
