<template>
  <article class="nominee">
    <a href="#" class="nominee__wrapper">
      <svg-icon
        name="play--s"
        class="nominee__icon"
        aria-label="Play"
        title="Play"
      />
      <h3 class="nominee__title">
        <div class="nominee__primary-title">
          {{ fields.field_primary_title }}
        </div>
        <div class="nominee__secondary-title">
          {{ fields.field_secondary_title }}
        </div>
      </h3>
    </a>
  </article>
</template>

<script>
export default {
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isEmbedVisible: false
    }
  },
  methods: {
    showEmbed() {
      this.isEmbedVisible = true
    },
    closeEmbed() {
      this.isEmbedVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.nominee {
  &__wrapper {
    display: flex;
    @include underline-remove;
  }
  &__icon {
    margin-right: $gutter--s;
    flex-shrink: 0;
  }
  &__title {
    @include font-size(l);
    line-height: $font--line-height--headings;

    @include to(m) {
      @include font-size(s);
    }
  }
  &__secondary-title {
    font-weight: normal;
  }
}
</style>
