<template>
  <div v-if="fields.field_media" v-html="fields.field_media"></div>
</template>

<script>
export default {
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
