<template>
  <component
    :is="headingLevel"
    v-if="fields.field_title && fields.field_heading_level"
    class="title"
  >
    {{ fields.field_title }}
  </component>
</template>

<script>
export default {
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    headingLevel() {
      return `h${this.fields.field_heading_level}`
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  margin-top: $gutter--xxxl;
}
</style>
