<template>
  <article class="winner">
    <a :href="url" class="winner__wrapper" :target="external">
      <responsive-image
        :image="fields.field_image.field_media_image"
        :alt-fallback="fields.field_primary_title"
        sizes="50px"
        class="winner__image"
      />
      <h3 class="winner__title">
        <div class="winner__place">
          {{ fields.field_title }}
        </div>
        <div class="winner__primary-title">
          {{ fields.field_primary_title }}
        </div>
        <div class="winner__secondary-title">
          {{ fields.field_secondary_title }}
        </div>
      </h3>
      <svg-icon
        name="play--s"
        class="winner__icon"
        aria-label="Play"
        title="Play"
      />
    </a>
  </article>
</template>

<script>
import ResponsiveImage from '@/components/global/ResponsiveImage'
export default {
  components: {
    ResponsiveImage
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      isEmbedVisible: false
    }
  },
  computed: {
    url() {
      if (this.urlSet) {
        return this.fields.field_link.uri
      }
      return '#'
    },
    urlSet() {
      if (this.fields.field_link) {
        return true
      } else {
        return false
      }
    },
    external() {
      if (this.urlSet) {
        return 'blank'
      } else {
        return false
      }
    }
  },
  methods: {
    showEmbed() {
      this.isEmbedVisible = true
    },
    closeEmbed() {
      this.isEmbedVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.winner {
  border-top: $border--light-s;
  padding: 10px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    @include underline-remove;
  }
  &__image {
    align-self: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    width: 70px;
    margin-right: $gutter--s;
  }
  &__icon {
    flex-shrink: 0;
  }
  &__title {
    flex-grow: 1;
    @include font-size(l);
    line-height: $font--line-height--headings;
    margin: 0;
    @include to(m) {
      @include font-size(s);
    }
  }
  &__secondary-title {
    font-weight: normal;
  }
}
</style>
