<template>
  <section class="winners">
    <h3 class="winners__title">{{ fields.field_title }}</h3>
    <div
      v-for="(winner, index) in fields.field_content"
      :key="winner.id"
      class="winners__item"
      @click="handleWinnerClick($event, index)"
    >
      <winner :fields="winner" />
    </div>
    <div class="winners__modal">
      <modal
        v-if="selectedWinnerIndex !== null"
        modifier="popup"
        pager
        @close="closeModal"
        @next="nextWinner"
        @previous="previousWinner"
      >
        <template #header>
          {{ modalTitle }}
        </template>
        <template #body>
          <embed-code :embed-code="modalContent" />
        </template>
      </modal>
    </div>
  </section>
</template>

<script>
import EmbedCode from '@/components/global/EmbedCode'
import Modal from '@/components/global/Modal'
import Winner from '@/components/paragraphs/Winner'
export default {
  components: {
    Winner,
    Modal,
    EmbedCode
  },
  props: {
    fields: {
      type: Object,
      default: () => {}
    }
  },
  data: () => {
    return {
      selectedWinnerIndex: null
    }
  },
  computed: {
    selectedWinner() {
      if (this.selectedWinnerIndex !== null) {
        return this.fields.field_content[this.selectedWinnerIndex]
      } else {
        return null
      }
    },
    modalContent() {
      if (this.selectedWinner !== null) {
        return this.selectedWinner.field_embed_code.processed
      } else {
        return null
      }
    },
    modalTitle() {
      if (this.selectedWinner !== null) {
        return `${this.selectedWinner.field_primary_title} - ${this.selectedWinner.field_secondary_title}`
      } else {
        return null
      }
    },
    winnersLength() {
      return this.fields.field_content.length - 1
    }
  },
  methods: {
    handleWinnerClick($event, index) {
      if (this.fields.field_content[index].field_embed_code) {
        $event.preventDefault()
        this.selectedWinnerIndex = index
      }
    },
    nextWinner($event, index) {
      if (this.selectedWinnerIndex === this.winnersLength) {
        this.selectedWinnerIndex = 0
      } else {
        this.selectedWinnerIndex++
      }
    },
    previousWinner($event, index) {
      if (this.selectedWinnerIndex === 0) {
        this.selectedWinnerIndex = this.winnersLength
      } else {
        this.selectedWinnerIndex--
      }
    },
    closeModal($event, index) {
      this.selectedWinnerIndex = null
    }
  }
}
</script>

<style lang="scss" scoped>
.winners {
  border-bottom: $border--light-s;
  margin-bottom: $gutter--xl;
}
</style>
