a {
  color: $color--black;
  cursor: pointer;
  @include focus;

  @include hover;
  @supports (text-underline-offset: 0.2em) {
    text-underline-offset: 0.2em;
  }
  @supports not (text-underline-offset: 0.2em) {
    text-underline-position: under;
  }
}
