h1 {
  @include font-styles(heading-xs, heading-m);
  margin: 0 0 0.4em;
  text-transform: uppercase;
}

h2 {
  @include font-styles(heading-xs, heading-s);
  margin: 0 0 0.4em;
}

h3 {
  @include font-styles(heading-xxs, heading-xs);
  margin: 0 0 0.4em;
}

h4 {
  @include font-styles(heading-m, heading-l);
  margin: 0 0 0.4em;
}

.page-title {
  @include font-styles(heading-l, heading-xxxl);
  margin: 0;
  &--centered {
    text-align: center;
  }
  &--small {
    @include font-styles(heading-m, heading-xxl);
  }
}

.page-subtitle {
  margin-top: -0.2em;
  @include font-styles(heading-xxs, heading-m);
}

.section-title {
  @include font-styles(heading-xs, heading-s);
  text-transform: uppercase;
}
