input[type='text'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='url'],
input[type='button'],
input[type='submit'] {
  @include input-default-styles;
}

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='url'] {
  display: block;
  width: 100%;
  border-width: 0 0 $border-width 0;
}

input[type='button'],
input[type='submit'] {
  height: $form-item--height--s;
  padding: 0 $form-item--padding--s;

  border: $border--default;
  @include from($breakpoint--desktop) {
    height: $form-item--height--m;
    padding: 0 $form-item--padding--m;
  }
}

input[type='search'] {
  background-image: url('~assets/images/search.svg');
  background-size: auto 60%;
  background-position: right center;
  background-repeat: no-repeat;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
