<template>
  <article class="artist-detail">
    <responsive-image
      :image="image"
      :alt-fallback="title"
      sizes="(min-width: 900px) 50vw, 100vw"
      class="artist-detail__image"
    />
    <aside class="artist-detail__content">
      <h1>{{ title }}</h1>
      <div v-html="text" />
      <div class="artist-detail__links">
        <social-links :items="links" />
      </div>
    </aside>
    <div class="artist-detail__embed">
      <div v-for="embedCode in embedCodes" :key="embedCode">
        <embed-code :embed-code="embedCode" />
      </div>
    </div>
    <div class="artist-detail__related_artists">
      <related-artists :items="relatedItems" />
    </div>
  </article>
</template>

<script>
import shuffle from 'lodash/shuffle'
import metaTitleProp from '@/mixins/metaTitleProp'
import ResponsiveImage from '@/components/global/ResponsiveImage'
import SocialLinks from '@/components/global/SocialLinks'
import EmbedCode from '@/components/global/EmbedCode'
import RelatedArtists from '@/components/artist/RelatedArtists'

export default {
  components: {
    ResponsiveImage,
    SocialLinks,
    RelatedArtists,
    EmbedCode
  },
  mixins: [metaTitleProp],
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    text: {
      type: String,
      default: ''
    },
    embedCodes: {
      type: Array,
      default: () => []
    },
    links: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {
    relatedItems() {
      const items = this.$store.getters['artists/itemsExcludingIds']([this.id])
      return shuffle(items).slice(0, 3)
    }
  }
}
</script>

<style lang="scss" scoped>
.artist-detail {
  @include grid;
  align-content: center;
  align-items: center;
  &__image {
    @include grid-item(percentage(1/1));
    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--s;
    }
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(5/12));
    }
  }
  &__content {
    @include grid-item(percentage(1/1));

    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--l;
    }
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(7/12));
    }
  }
  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  &__links-item {
    margin-right: $gutter--s;
  }
  &__embed {
    @include grid-item(percentage(1/1));
    @include to($breakpoint--mobile) {
      margin-bottom: $gutter--xxl;
    }
    @include from($breakpoint--desktop) {
      margin-top: $gutter--xxxl;
      margin-bottom: $gutter--xxxxxl;
    }
  }
  &__related_artists {
    @include grid-item(percentage(1/1));
    /*
    @include to($breakpoint--mobile) {
      margin-top: $gutter--l;
    }
    @include from($breakpoint--desktop) {
      margin-top: $gutter--xxxxxl;
    }
    */
  }
}
</style>
