<template>
  <article class="artist-preview">
    <nuxt-link :to="link" class="artist-preview__link">
      <client-only placeholder="Loading...">
        <responsive-image
          :image="image"
          :alt-fallback="title"
          sizes="(min-width: 900px) 25vw, 50vw"
          class="artist-preview__image"
        />
      </client-only>
      <h2 class="artist-preview__title">{{ title }}</h2>
    </nuxt-link>
  </article>
</template>

<script>
import ResponsiveImage from '@/components/global/ResponsiveImage'
export default {
  components: {
    ResponsiveImage
  },
  props: {
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    link: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.artist-preview {
  margin-bottom: $gutter--xl;
  &__link {
    @include underline-remove;
    display: block;
  }
  &__image {
    margin-bottom: $gutter--s;
  }
  &__title {
    text-align: center;
    @include font-styles(heading-xxxxs, heading-xxxs);
    text-transform: uppercase;
  }
}
</style>
