<template>
  <section class="event-list-related">
    <event-preview
      v-for="item in items"
      :key="item.id"
      :title="item.title"
      :link="item.path.alias"
      :date="item.field_date_range"
      :image="item.field_image.field_media_image"
      :style="monthBackgroundGradient(monthNumber(item.field_date_range.value))"
      class="event-list-related__item"
    />
  </section>
</template>

<script>
import EventPreview from '@/components/event/EventPreview.vue'
import monthColors from '@/mixins/monthColors'

export default {
  components: {
    EventPreview
  },
  mixins: [monthColors],
  props: {
    items: {
      type: Array,
      default: () => {
        return []
      }
    },
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>
.event-list-related {
  border-top: $border--default;
}
</style>
