<template>
  <article class="event-detail">
    <div class="event-detail__wrapper">
      <responsive-image
        :image="image"
        :alt-fallback="title"
        sizes="(min-width: 900px) 50vw, 100vw"
        class="event-detail__image"
      />
      <aside class="event-detail__content">
        <h1 class="event-detail__title">{{ title }}</h1>
        <div class="event-detail__date">{{ formattedDateRange }}</div>
        <div v-html="text" />
      </aside>
    </div>

    <div v-if="embedCodes" class="event-detail__embed">
      <div v-for="embedCode in embedCodes" :key="embedCode">
        <embed-code :embed-code="embedCode" />
      </div>
    </div>

    <div class="event-detail__related">
      <h2>Weitere Events</h2>
      <event-list-related :items="relatedItems" />
    </div>
  </article>
</template>

<script>
import metaTitleProp from '@/mixins/metaTitleProp'
import formattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'
import EmbedCode from '@/components/global/EmbedCode'
import EventListRelated from '@/components/event/EventListRelated.vue'

export default {
  components: {
    ResponsiveImage,
    EventListRelated,
    EmbedCode
  },
  mixins: [formattedDate, metaTitleProp],
  props: {
    id: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    text: {
      type: String,
      default: ''
    },
    embedCodes: {
      type: Array,
      default: () => []
    },
    date: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  computed: {
    relatedItems() {
      const items = this.$store.getters['events/itemsExcludingIds']([this.id])
      return items.slice(0, 5)
    }
  }
}
</script>

<style lang="scss" scoped>
.event-detail {
  &__wrapper {
    @include grid;
    margin-top: $gutter--l;
    margin-bottom: $gutter--xxxl;
  }
  &__title {
    margin-bottom: $gutter--s;

    @include to($breakpoint--mobile) {
      margin-top: $gutter--m;
    }

    @include from($breakpoint--desktop) {
      margin-top: -9px;
    }
  }
  &__date {
    //@include font-styles(m, l);
    margin-bottom: $gutter--s;
  }
  &__image {
    @include grid-item(percentage(1/1));
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(5/12));
    }
  }
  &__content {
    @include grid-item(percentage(1/1));
    @include from($breakpoint--desktop) {
      @include grid-item(percentage(7/12));
    }
  }
  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  &__links-item {
    margin-right: $gutter--s;
  }
  &__embed {
    margin-bottom: $gutter--xxxxxl;
  }
}
</style>
