<template>
  <div class="event-list">
    <!-- @TODO: Why is the map item inside an array[1]?! -->
    <section
      v-for="(month, index) in items"
      :key="index"
      class="event-list__month"
    >
      <h2 class="event-list__month-title">{{ month[1].title }}</h2>
      <div
        :style="monthBackgroundGradient(month[1].monthNumber)"
        class="event-list__month-content"
      >
        <event-preview
          v-for="item in month[1].items"
          :key="item[1].id"
          :title="item[1].title"
          :link="item[1].path.alias"
          :date="item[1].field_date_range"
          :image="item[1].field_image.field_media_image"
          class="event-list__item"
        />
      </div>
    </section>
    <p v-if="!items">
      Aktuell sind keine Events geplant.
    </p>
  </div>
</template>

<script>
import EventPreview from '@/components/event/EventPreview.vue'
import monthColors from '@/mixins/monthColors'

export default {
  components: {
    EventPreview
  },
  mixins: [monthColors],
  props: {
    items: {
      type: Map,
      default: () => {
        return {}
      }
    },
    title: {
      type: String,
      default: ''
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.event-list {
  padding-top: $gutter--xxxl;
  &__month-title {
    @include font-styles(heading-xs, heading-s);
    margin-top: $gutter--xxl;
  }

  &__month {
    &:first-child {
      .event-list__month-title {
        margin-top: 0;
      }
    }
  }

  &__month-content {
    border-top: $border--default;
  }
}
</style>
