<template>
  <nuxt-link :to="link" class="event-preview__link" :aria-label="title">
    <article class="event-preview">
      <responsive-image
        :image="image"
        :alt-fallback="title"
        sizes="(min-width: 900px) 25vw, 50vw"
        class="event-preview__image"
      />
      <aside class="event-preview__content">
        <span class="event-preview__date-weekday" aria-hidden="true">{{
          formattedDateWeekday
        }}</span>
        <h3 class="event-preview__title">{{ title }}</h3>
        <span class="event-preview__date-long">{{ formattedDateLong }}</span>
        <span class="event-preview__date-day" aria-hidden="true">{{
          formattedDateDay
        }}</span>
      </aside>
    </article>
  </nuxt-link>
</template>

<script>
import formattedDate from '@/mixins/formattedDate'
import ResponsiveImage from '@/components/global/ResponsiveImage'

export default {
  components: {
    ResponsiveImage
  },
  mixins: [formattedDate],
  props: {
    title: {
      type: String,
      default: ''
    },
    image: {
      type: Object,
      default: () => {
        return {}
      }
    },
    link: {
      type: String,
      default: ''
    },
    date: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  computed: {}
}
</script>

<style lang="scss" scoped>
.event-preview {
  position: relative;
  @include list-item;

  @include to($breakpoint--mobile) {
    display: block;
  }
  &__link {
    display: block;
  }
  &__content {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include from($breakpoint--desktop) {
      display: flex;
      padding-right: 100px;
    }
  }
  &__image {
    @include to($breakpoint--mobile) {
      width: 50%;
      margin-bottom: $gutter--xs;
    }

    @include from($breakpoint--desktop) {
      margin-left: $gutter--m;
    }
  }
  &__date-weekday {
    display: inline-block;
    min-width: 40px;
    padding: 2px $gutter--xxs;
    margin-bottom: $gutter--xxs;
    @include font-size(heading-xs);
    font-weight: bold;
    color: $color--white;
    background-color: $color--black;

    @include to($breakpoint--mobile) {
      position: absolute;
      top: $gutter--m;
      left: 50%;
      margin-left: $gutter--m;
    }
  }
  &__title {
    margin-bottom: $gutter--xxs;

    @include to($breakpoint--mobile) {
      order: 1;
    }
  }
  &__date-day {
    position: absolute;
    @include font-size(heading-xl);
    font-weight: bold;

    @include to($breakpoint--mobile) {
      right: $gutter--m;
      top: 60px;
      order: 2;
    }

    @include from($breakpoint--desktop) {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
</style>
