<template>
  <section class="partner-list">
    <div class="partner-list__wrapper">
      <partner-preview
        v-for="item in items"
        :key="item.id"
        :item="item"
        class="partner-list__item"
      />
    </div>
  </section>
</template>

<script>
import PartnerPreview from '@/components/partner/PartnerPreview'

export default {
  components: {
    PartnerPreview
  },
  data() {
    return {
      items: [
        {
          title: 'Raphaela Haefliger',
          image: '/partner/raphaela-haeflinger.svg',
          link: 'https://www.raphaelahaefliger.ch/',
          function: 'Artwork'
        },
        {
          title: 'ATTRIBUTE',
          image: '/partner/attribute.svg',
          link: 'https://attribute.ch/',
          function: 'Development'
        },
        {
          title: 'Michel Luarasi',
          image: '/partner/michel-luarasi.svg',
          link: 'https://michelluarasi.com/',
          function: 'UX'
        },
        {
          title: 'srks',
          image: '/partner/srks.jpg',
          link: 'http://www.fsrc.ch/',
          function: 'Förderung'
        },
        {
          title: 'glimpses',
          image: '/partner/glimpses.jpg',
          link: 'http://glimpses.ch/',
          function: 'Filmproduktion'
        },
        {
          title: 'Ron Orp',
          image: '/partner/ronorp.png',
          link: 'https://www.ronorp.net/',
          function: 'Medienpartner'
        },
        {
          title: 'upbeat',
          image: '/partner/upbeat.jpg',
          link: 'https://www.upbeat.ch/',
          function: 'Radio- & DJ-Equipment'
        },
        {
          title: '2015electronics',
          image: '/partner/2015electronics.svg',
          link: 'http://2015electronics.ch/',
          function: 'Eventtechnik'
        },
        {
          title: 'Swissperform',
          image: '/partner/swissperform.jpg',
          link: 'http://www.swissperform.ch/',
          function: 'Förderung'
        },
        {
          title: 'amazee.io',
          image: '/partner/amazeeio.svg',
          link: 'https://www.amazee.io/',
          function: 'Hosting'
        }
      ]
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.partner-list {
  @include full-width-inverted-section;
  &__wrapper {
    @include grid;
  }
  &__item {
    @include grid-item(100%);
    @include from(s) {
      @include grid-item(50%);
    }
    @include from(l) {
      @include grid-item(33%);
    }
    @include from(xl) {
      @include grid-item(25%);
    }
  }
}
</style>
