<template>
  <article class="partner-preview">
    <a :href="item.link" class="partner-preview__link" target="_blank">
      <div class="partner-preview__image-wrapper">
        <div class="partner-preview__image-container">
          <img
            :data-srcset="srcSet"
            :src="src"
            :alt="item.title"
            data-sizes="auto"
            class="partner-preview__image lazyload"
          />
        </div>
      </div>
      <h3 class="partner-preview__title">{{ item.title }}</h3>
      <span class="partner-preview__function">{{ item.function }}</span>
    </a>
  </article>
</template>

<script>
export default {
  components: {},
  props: {
    item: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  computed: {
    srcSet() {
      return require(`~/assets/images${this.item.image}`).srcSet
    },
    src() {
      if (this.item.image.includes('.svg')) {
        return require(`~/assets/images${this.item.image}`)
      } else {
        return require(`~/assets/images${this.item.image}`).src
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.partner-preview {
  margin-bottom: $gutter--xl;
  text-align: center;
  &__image-wrapper {
    @include aspect-ratio-parent(16/9);

    margin-bottom: $gutter--s;
  }
  &__image-container {
    @include aspect-ratio-child;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color--white;
  }
  &__link {
    @include underline-remove;
    display: block;
    @include inverted;
  }
  &__image {
    width: auto;
    height: auto;
    max-width: 160px;
    max-height: 90px;
  }
  &__title {
    @include font-styles(heading-xxxxs, heading-xxxs);
  }
}
</style>
