<template>
  <button
    :class="{
      'controls--playing': isPlaying,
      'controls--paused': !isPlaying,
      'controls--loading': isLoading
    }"
    class="controls"
    value="Play"
    :aria-label="ariaLabel()"
    @click="togglePlayer"
  >
    <div
      :class="{
        'controls__icon--playing': isPlaying,
        'controls__icon--paused': !isPlaying,
        'controls__icon--loading': isLoading
      }"
      class="controls__icon"
    ></div>
  </button>
</template>

<script>
export default {
  name: 'Controls',

  computed: {
    isLoading() {
      return this.$store.state.player.isLoading
    },
    isPlaying() {
      return this.$store.state.player.isPlaying
    },
    state() {
      if (this.isLoading) {
        return 'loading'
      } else if (this.isPlaying) {
        return 'playing'
      } else {
        return 'paused'
      }
    }
  },

  methods: {
    togglePlayer() {
      this.$store.dispatch(`player/setPlaying`, !this.isPlaying)
    },
    ariaLabel() {
      return this.isPlaying ? 'Pause radio' : 'Play radio'
    }
  }
}
</script>

<style lang="scss" scoped>
$player-icon-height--s: 24px;
$player-icon-height--m: 36px;

.controls {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $color--black;
  z-index: 1;
  border-radius: 100%;
  background-size: 80%;
  background-position: center;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    @include focus-style;
  }

  &--loading {
    animation: player-loading 2s infinite;
    &:focus {
      box-shadow: none;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: $player-icon-height--s;

    @include from($breakpoint--desktop) {
      height: $player-icon-height--m;
    }

    border-color: transparent transparent transparent $color--white;
    transition: 100ms all ease;
    cursor: pointer;

    &--playing {
      border-style: double;
      border-width: 0 0 0 $player-icon-height--s / 6 * 5;
      @include from($breakpoint--desktop) {
        border-width: 0 0 0 $player-icon-height--m / 6 * 5;
      }
    }

    &--paused {
      transform: translate(-40%, -50%);

      // play state
      border-style: solid;
      border-width: $player-icon-height--s / 2 0 $player-icon-height--s / 2
        $player-icon-height--s / 6 * 5;
      @include from($breakpoint--desktop) {
        border-width: $player-icon-height--m / 2 0 $player-icon-height--m / 2
          $player-icon-height--m / 6 * 5;
      }
    }
  }
}

@keyframes player-loading {
  0% {
    box-shadow: none;
  }
  20% {
    box-shadow: 0 0 0 2pt #fff;
  }
  40% {
    box-shadow: 0 0 0 2pt #fff, 0 0 0 4pt #000;
  }
  60% {
    box-shadow: 0 0 0 2pt #fff, 0 0 0 4pt #000, 0 0 0 6pt #fff;
  }
  80% {
    box-shadow: 0 0 0 2pt #fff, 0 0 0 4pt #000, 0 0 0 6pt #fff, 0 0 0 8pt #000;
  }
}
</style>
