<script>
import embedded from 'mixins/embedded'

export default {
  name: 'MemberBox',

  mixins: [embedded],

  computed: {
    show() {
      return this.$store.state.memberbox.show
    }
  },

  methods: {
    closeBox() {
      this.$store.commit('hideMemberBox')
    }
  }
}
</script>
<template>
  <div>
    <transition name="fade">
      <div v-if="show" class="member-box">
        <a href="http://www.gds.fm/member" class="member-link" target="_blank">
          Member werden und GDS.FM unterstützen!
        </a>
        <span class="member-info">CHF 65.- / Jahr</span>
        <a href="#" class="member-close" @click="closeBox"></a>
      </div>
    </transition>
  </div>
</template>
