<script>
import { mapGetters } from 'vuex'
import Controls from '@/components/player/Controls.vue'
import Vinyl from '@/components/player/Vinyl.vue'
import monthColors from '@/mixins/monthColors'

export default {
  name: 'Player',

  components: {
    Controls,
    Vinyl
  },
  mixins: [monthColors],

  data() {
    return {
      playerHasFadedIn: false,
      controlsAreVisible: true
    }
  },

  computed: {
    ...mapGetters('player', [
      'currentTrack',
      'firstTrackPlayed',
      'isPlaying',
      'isLoading'
    ]),
    isRotating() {
      return this.isPlaying && !this.isLoading && this.controlsAreVisible
    },
    track() {
      return this.$store.getters['player/currentTrack']
    },
    vinylAppearClass() {
      return this.$store.state.player.firstVinyl
        ? 'vinyl-throw-in-active'
        : 'vinyl-appear-active'
    }
  },

  mounted() {
    this.$store.dispatch('player/fetchTrackInfo')
  },

  methods: {
    hideControls() {
      this.controlsAreVisible = false
    },
    showControls() {
      this.controlsAreVisible = true
    },

    vinylAfterEnter() {
      this.$store.commit('player/firstVinyl')
      this.showControls()
    },

    playerAfterEnter() {
      this.playerHasFadedIn = true
    },

    playerLeave(el, done) {
      setTimeout(done, 2000)
    }
  }
}
</script>

<template>
  <transition
    name="fade-player"
    appear
    @after-enter="playerAfterEnter"
    @before-leave="hideControls"
    @leave="playerLeave"
  >
    <div>
      <div class="player">
        <div class="player__wrapper">
          <transition name="fade">
            <div class="player__controls">
              <controls v-if="controlsAreVisible"></controls>
            </div>
          </transition>
          <transition
            v-if="firstTrackPlayed"
            appear-active-class="vinyl-throw-in-active"
            appear
            name="vinyl"
            @before-enter="hideControls"
            @after-enter="vinylAfterEnter"
          >
            <vinyl
              :key="currentTrack.id"
              :is-rotating="isRotating"
              :cover="currentTrack.cover"
            ></vinyl>
          </transition>

          <vinyl
            v-else
            key="firstTrack"
            :is-rotating="isRotating"
            :cover="currentTrack.cover"
            :fix-color="monthColor(monthNumber())"
          ></vinyl>
        </div>
      </div>
    </div>
  </transition>
</template>
<style lang="scss" scoped>
.player {
  @include to($breakpoint--mobile) {
    position: absolute;
    width: 120vw;
    height: 120vw;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include from($breakpoint--desktop) {
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    width: 92vh;
    height: 92vh;
  }

  @include from(xl) {
    //right: -5%;
  }

  @include from(xxl) {
    right: -10%;
  }

  @include from(xxxl) {
    right: -2.5%;
  }
  &__stream-link {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 10;

    @include from($breakpoint--desktop) {
      width: 10%;
      height: 10%;
      min-width: 60px;
      min-height: 60px;
    }
  }
}
</style>
