<template>
  <transition name="fade">
    <div class="player-meta">
      <div class="player-meta__wrapper">
        <div
          id="player-meta__track-info"
          class="player-meta__track-info"
          aria-label="Track currently playing"
        >
          <component
            :is="trackUrl ? 'a' : 'div'"
            :href="trackUrl"
            class="player-meta__link"
            target="_blank"
          >
            <div
              class="player-meta__title"
              aria-label="Artist name"
              v-html="currentTitle"
            ></div>
            <div
              class="player-meta__artist"
              aria-label="Track name"
              v-html="currentArtist"
            ></div>
          </component>
        </div>
        <transition name="fade">
          <button
            id="player-meta__controls"
            class="player-meta__controls"
            :aria-label="ariaLabel()"
            @click="togglePlayer"
          >
            <svg-icon
              v-if="!isPlaying"
              name="play--s"
              class="player-meta__icon player-meta__icon--play"
              aria-label="Play radio"
              title="Play"
            />
            <svg-icon
              v-if="isPlaying"
              name="pause--s"
              class="player-meta__icon player-meta__icon--pause"
              aria-label="Pause radio"
              title="Pause"
            />
          </button>
        </transition>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      linkAppend: ''
    }
  },

  computed: {
    currentTitle() {
      return this.track.title !== null || this.track.artist === 'Jingle'
        ? this.track.title
        : null
    },

    currentArtist() {
      return this.track.artist !== null ? this.track.artist : null
    },

    trackUrl() {
      if (this.track.url) {
        return this.track.url
      }

      if (this.currentTitle && this.currentArtist) {
        return `https://music.apple.com/us/search?term=${encodeURIComponent(
          `${this.currentTitle} ${this.currentArtist}`
        )}`
      }
      return false
    },

    track() {
      return this.$store.getters['player/currentTrack']
    },

    firstTrackHasLoaded() {
      return this.$store.getters.firstTrackHasLoaded
    },
    isPlaying() {
      return this.$store.state.player.isPlaying
    }
  },

  mounted() {
    this.$store.dispatch('player/fetchTrackInfo')
    // Fetch Track info on Focus
    window.addEventListener('focus', (e) => {
      // this.$store.dispatch('player/fetchTrackInfo')
    })
  },

  methods: {
    togglePlayer() {
      this.$store.dispatch(`player/setPlaying`, !this.isPlaying)
    },
    ariaLabel() {
      return this.isPlaying ? 'Pause radio' : 'Play radio'
    }
  }
}
</script>

<style lang="scss" scoped>
.player-meta {
  position: relative;
  flex: 1;
  min-width: 0;

  &__wrapper {
    display: flex;

    @include to($breakpoint--mobile) {
      align-self: center;
    }
    @include from($breakpoint--desktop) {
      height: $header-height-m;
      //align-content: space-between;
      justify-content: space-between;

      flex-direction: column;
    }
  }
  &__controls {
    width: $icon-size--s;
    height: $icon-size--s;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;
    @include to($breakpoint--mobile) {
      display: flex;
      align-self: center;
      order: -1;
      margin-right: $gutter--xs;
    }
  }
  &__track-info {
    flex: 1;
    min-width: 0;
  }
  &__link {
    display: block;
    text-decoration: none;
    &,
    &:hover {
      color: inherit;
    }
  }
  &__title {
    @include ellipsis;
    @include font-styles(s, l);
    font-weight: bold;

    @include from($breakpoint--desktop) {
      margin-top: -0.2em;
    }
  }
  &__artist {
    @include ellipsis;
    @include font-styles(xs, s);
    margin-top: -0.1em;
  }
  &__icon {
    width: $icon-size--s;
    height: $icon-size--s;
  }
}
</style>
