<template>
  <audio id="player-stream" type="audio/mp3" :src="src" preload="none"></audio>
</template>

<script>
export default {
  name: 'Stream',

  data() {
    return {
      player: null,
      fetchTimeout: null,
      src: ''
    }
  },

  computed: {
    isPlaying() {
      return this.$store.state.player.isPlaying
    }
  },
  watch: {
    isPlaying(newValue, oldValue) {
      if (this.handlePlaystateChange(newValue));
    }
  },

  mounted() {
    this.player = document.querySelector('#player-stream')

    this.$nextTick(() => {
      this.player.addEventListener('playing', () => {
        this.$store.commit('player/playing', true)
        this.$store.commit('player/loading', false)
      })
    })

    window.addEventListener('keydown', (e) => {
      if (e.keyCode === 32 && e.target === document.body) {
        this.$store.commit('player/playing', !this.isPlaying)
        e.stopPropagation()
        e.preventDefault()
        return false
      }
    })
  },

  methods: {
    play() {
      this.player.play()
    },

    pause() {
      this.player.pause()
    },

    handlePlaystateChange(value) {
      if (value) {
        this.src = 'https://gdsfm.out.airtime.pro/gdsfm_a'
        setTimeout(() => {
          this.play()
        }, 10)
      } else {
        this.pause()
        this.src = ''
      }
    }
  }
}
</script>
