<script>
const colors = [
  '#83E4CC',
  '#F15252',
  '#A79483',
  '#EFC546',
  '#7763F9',
  '#50507B',
  '#589263',
  '#759564',
  '#1200FF'
]

export default {
  name: 'Vinyl',

  props: {
    isRotating: Boolean,
    fixColor: {
      type: String,
      default: ''
    },
    cover: {
      type: [String, Boolean],
      default() {
        return {}
      }
    }
  },

  data() {
    return {
      tween: null
    }
  },

  computed: {
    color() {
      if (this.fixColor !== '') {
        return this.fixColor
      } else {
        return colors[Math.floor(Math.random() * colors.length)]
      }
    },

    isMobile() {
      return true
    }
  }
}
</script>
<template>
  <div class="vinyl-wrap">
    <div class="vinyl-disc-wrap">
      <div
        :class="{
          'is-paused': !isRotating,
          'is-stopped': isMobile && !isRotating
        }"
        :style="{ backgroundColor: color }"
        class="vinyl-disc"
      >
        <div
          v-if="cover"
          :style="{ backgroundImage: 'url(' + cover + ')' }"
          class="vinyl-image"
        ></div>
        <div v-else class="vinyl-image"></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.vinyl-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .vinyl-disc-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //opacity: 0;
    // rtansition: .3s width, .3s height, .3s margin);

    .vinyl-disc {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-color: #83e4cc;
      border-radius: 100%;
      box-shadow: 0 0 0 10px rgba(#000, 0.02) inset;

      //animation: spin 10s 0 .1 normal linear forwards;
      //animation-duration: 14s;
      animation: spin 14s linear 0s infinite;

      //transition: background-color .5s ease-out;

      transform: translateZ(0);
      backface-visibility: hidden;
      animation-play-state: running;

      &.is-paused {
        animation-play-state: paused !important;
        //animation-duration: 0s;
      }

      &.is-stopped {
        animation: none !important;
      }

      .vinyl-image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 40%;
        border-radius: 100%;

        transform: translate(-50%, -50%);
        background-size: cover;
        overflow: hidden;

        // box-shadow: 0 0 0 25px rgba(#000, .02);
        transition: 0.3s width, 0.3s height, 0.3s margin;
        background-image: linear-gradient(
          0deg,
          $color--white 2.5%,
          $color--black 2.5%,
          $color--black 7.5%,
          $color--white 7.5%,
          $color--white 12.5%,
          $color--black 12.5%,
          $color--black 17.5%,
          $color--white 17.5%,
          $color--white 22.5%,
          $color--black 22.5%,
          $color--black 27.5%,
          $color--white 27.5%,
          $color--white 32.5%,
          $color--black 32.5%,
          $color--black 37.5%,
          $color--white 37.5%,
          $color--white 42.5%,
          $color--black 42.5%,
          $color--black 47.5%,
          $color--white 47.5%,
          $color--white 52.5%,
          $color--black 52.5%,
          $color--black 57.5%,
          $color--white 57.5%,
          $color--white 62.5%,
          $color--black 62.5%,
          $color--black 67.5%,
          $color--white 67.5%,
          $color--white 72.5%,
          $color--black 72.5%,
          $color--black 77.5%,
          $color--white 77.5%,
          $color--white 82.5%,
          $color--black 82.5%,
          $color--black 87.5%,
          $color--white 87.5%,
          $color--white 92.5%,
          $color--black 92.5%,
          $color--black 97.5%,
          $color--white 97.5%,
          $color--white 100%
        );
        background-size: 100% 100%;
        background-position: center;

        @media (max-height: 380px) {
          opacity: 0.3;
        }
      }
    }
  }
}
</style>
