<template>
  <div class="member">
    <section class="page-section">
      <h1 class="page-title">Member</h1>
      <h2 class="page-subtitle">Werde Mitglied und unterstütze GDS.FM!</h2>
    </section>

    <section class="page-section">
      <two-column-content>
        <template v-slot:left>
          <h3>Erneuernde Mitgliedschaft</h3>
          <p>
            Klicke hier, wenn du deinen Mitgliederbeitrag jährlich mit Twint
            oder Kreditkarte bezahlen möchtest (65.-/Jahr). Du erhältst keine
            Erinnerungen mehr von uns und deine Mitgliedschaft wird automatisch
            nach einem Jahr erneuert. Selbstverständlich kannst du zukünftige
            Abbuchungen jederzeit via
            <a href="mailto:office@gds.fm">Mail</a> canceln.
          </p>
          <payment-methods
            :items="['Twint', 'Mastercard', 'Visa']"
          ></payment-methods>
          <a
            href="https://gdsfm.payrexx.com/pay?tid=af92772f"
            class="button"
            target="_blank"
            >Member werden</a
          >
        </template>
        <template v-slot:right>
          <h3>Mitgliedschaft für ein Jahr</h3>
          <p>
            Klicke hier, wenn du deine Mitgliedschaft für ein Jahr und mit
            Kreditkarte, Twint, Paypal oder per Überweisung bezahlen möchtest
            (65.-/Jahr). Nach einem Jahr schicken wir dir per Email und Post
            rechtzeitig eine Zahlungserinnerung.
          </p>
          <payment-methods
            :items="['Twint', 'Invoice', 'Mastercard', 'Visa', 'PayPal']"
          ></payment-methods>
          <a
            href="https://gdsfm.payrexx.com/pay?tid=133363eb"
            class="button"
            target="_blank"
            >Member werden</a
          >
        </template>
      </two-column-content>
    </section>
    <section class="page-section">
      <two-column-content>
        <template v-slot:right>
          <img
            :data-srcset="require('~/assets/images/member.jpeg').srcSet"
            alt="Unterstütze GDS"
            class="event-detail__image lazyload"
            data-sizes="auto"
          />
        </template>
        <template v-slot:left>
          <p>
            Nur dank der finanziellen Unterstützung unserer Mitglieder ist
            GDS.FM überhaupt möglich. Damit wir auch in Zukunft den werbefreien
            24/7-Radiobetrieb gewährleisten können, aber auch damit wir wieder
            mit verrückten Projekten, ausufernden Konzerten und hoffentlich mit
            dir in die Jahrbücher eingehen, sind wir auf deine Unterstützung
            angewiesen.
          </p>
          <p>
            Übrigens gibt es mit der persönlichen Memberkarte an allen
            <nuxt-link to="/events">Events</nuxt-link>, wo auch immer wir gerade
            sind, günstigeren oder gratis Eintritt.
          </p>

          <p>
            Mit diesem
            <nuxt-link to="/about">Mindmap</nuxt-link>
            zeigen wir auf, was die Arbeit rund ums Radio alles beinhaltet und
            was wir in letzter Zeit alles realisiert haben.
          </p>
          <p>
            Du kannst die Mitgliedschaft beenden via
            <a href="mailto:office@gds.fm">Mail</a>.
          </p>
          <p></p>
        </template>
      </two-column-content>
    </section>
    <two-column-content>
      <template v-slot:left>
        <h3>Spenden</h3>
        <a
          href="https://gdsfm.payrexx.com/de/pay?cid=a43546b7&amp;hide_description=1"
          class="button"
          target="_blank"
          >Online spenden</a
        >
        <br />
        <a href="/einzahlungsschein.pdf" class="button" target="_blank"
          >Einzahlungsschein</a
        >
      </template>
      <template v-slot:right>
        <h3>Banküberweisung</h3>
        <p>
          Verein GDS.FM<br />
          8045 Zürich<br />
          IBAN: CH58 0900 0000 6142 9622 2<br />
          Konto: 61-429622-2 CHF<br />
          BIC: POFICHBEXXX
        </p>
      </template>
    </two-column-content>
  </div>
</template>

<script>
import metaComponentName from '@/mixins/metaComponentName'
import TwoColumnContent from '@/components/global/TwoColumnContent'
import PaymentMethods from '@/components/global/PaymentMethods'

export default {
  name: 'Member',
  components: {
    TwoColumnContent,
    PaymentMethods
  },
  mixins: [metaComponentName]
}
</script>
